﻿*{ margin:0px auto; padding:0;}
body {font-family: "宋体"; font-size:12px;background:url(../images/body_bg.gif) repeat-x;}
table{ border-collapse:collapse;}
.login{ }
/*top*/
.login_top{ background:url(../images/body_bg.gif) repeat-x; height:83px;}
.login_top_left{ text-indent:40px; padding-top:29px;}
.login_top_rig{ float:right; background:url(../images/login_smart330.gif) no-repeat; width:144px; height:23px; margin-right:40px;-margin-right:20px; margin-top:40px;}
/*con*/
.login_main{clear:both;margin:17px 40px;}
.login_con{ width:100%; height:446px; border:0;overflow:hidden;}
.login_left{background:url(../images/login_img01.jpg) no-repeat; width:245px;}
.login_cen{background:url(../images/login_img02.jpg) repeat-x;}
.login_right{background:url(../images/login_img03.jpg) no-repeat; width:214px;}

.login_log{
	width:384px;
	height:288px;
	margin-top:35px;

!important;*margin-top:35px;	background-image: url(../images/login_dl1.gif);
	background-repeat: no-repeat;
	background-position: center center;
}
.login_dl{ font-family:"微软雅黑","黑体"; margin-top:25px; padding:0px 15px;}
.login_dl td{line-height:35px; font-size:14px;color:#333;}
.int{ border:1px solid #838383; height:20px; line-height:20px; width:155px;}
.login_bu{ border:0; background:url(../images/login_bu.gif) no-repeat; width:61px; height:23px; line-height:23px; font-family:"微软雅黑","黑体"; color:#fff; margin-left:10px; margin-right:10px; cursor:pointer; font-size:14px;}

.login_btn{ clear:both; margin:0px auto; padding:0;margin-top:40px;}
.login_btn a{ margin-left:2px;!important; margin-right:2px;!important;*margin-left:4px; *margin-right:4px;width:46px; height:42px;}

/*bottom*/
.login_bottom{ clear:both; border-top:3px solid #E5571E; text-align:right; padding-right:40px;}
.logo{ float:left; background:url(../images/logo.gif) no-repeat 40px 3px; padding-left:90px; line-height:28px;}
.login_bottom_text{float:right; line-height:28px; text-indent:12px;}
.login_bottom a{ color:#000; text-decoration:none}
.login_bottom a:hover{ text-decoration:underline;}
.login_icon{ background:url(../images/login_icon.gif) no-repeat 2px 0px; padding-left:26px;}
