html,body{height:100%;margin:0px;padding:0px;}
body{font-family:"微软雅黑";font-size:14px;text-align: center;}
a{text-decoration: none;}
input{box-sizing:border-box;}

.container{width:100%;height:100%;margin:0px auto;position:relative;overflow: hidden;background: url(../images/bg.png) no-repeat;background-size: 100% 100%;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/bg.png', sizingMethod='scale');}

.logo{width:30%;height:10%;position: absolute;left: 3%;top: 3%;}
.logo img{ display:none}
.main{width:354px;height:382px;margin:0px auto;position:absolute;top:50%;left:50%;margin-top:-177px;margin-left:-191px;background: url(../images/bg_main.png);border-radius: 10px;behavior:url(htc/PIE.htc);}

.main table{width:80%;height:85%;margin:25px auto;text-align: left;}

.main a{color: #686b6d;font-size:12px;text-decoration:underline;}
.main span{color: #7c7f81;font-size:12px;}

#title{color: #646067;font-size:16px;font-family:微软雅黑;}

.input{height:100%;background:white;overflow:hidden;position:relative;border:1px #aeaeae solid;}

.label_name{width:25%;height:100%;background:white;text-align:center;color:#7c7f81;font-size:14px;font-family:微软雅黑;float:left;}
.label_pwd{width:25%;height:100%;background:white;text-align:center;color:#7c7f81;font-size:14px;font-family:微软雅黑;float:left;}

.content{width:74%;height:100%;background:white;overflow:hidden;float:left;}
.content input{width:100%;height:100%;border:0px;margin:0px;padding:0px;}
.hover{width:15%;height:100%;background:white;position:absolute;top:0px;right:0px;}

#login{display: block;width:100%;height: 42px;line-height: 42px;background: #007be0;text-align: center;color: white;text-decoration:none;}
#reset{display: block;width:100%;height: 42px;line-height: 42px;background: #dc6600;text-align: center;color: white;}
#login:hover{background: #006cc3;}
#reset:hover{background: #cd6106;}

.footer{width:100%;height:70px;position: absolute;left: 0px;bottom: 20px;}
.footer>div{width:100%;height:35px;line-height: 35px;}

/*.footer a{color:#007add;}
.footer span{color:#66625C;}*/

.footer a{color:white;}
.footer a:hover{color:blue;}
.footer span{color:white;}

.wraper{display: inline;overflow: visible;position:relative;}

.code_wraper{width:800px;margin:0px auto;position:relative;}

.wraper:hover .qrcode{display: block;}

.qrcode{width: 175px;height:170px;background:white;margin:0px auto;line-height:18px;position:absolute;z-index:10;top:-200px;left:175px;display: none;}
.qrcode>div{float: left;margin-left: 15px;text-align:center;}
.qrcode img{margin-top: 10px;}
#logoImgTitle{ display :none}
