.container{ background:#c70100 url('../images/newYear/bgNewYear.png') no-repeat center center !important;}
#login{ background:#cb0c0b}
#login:hover{background:#e30f0a;}
.logo{ width:487px; height:101px;}
.logoImg{ background:url(../images/newYear/loginNewYear.png) !important; background:none !important; text-align:left}
.logoImg img{ display:block;  height:100%;}
#logoImgTitle{ display:inline-block}
.main h1{ margin-top: -60px; margin-left: -77px;}
.main{ padding-top:10px; height:340px !important; margin-top:-170px !important; }
.main table{ height:100%;}



