*{padding:0;margin:0;list-style-type:none}
body{wmargin:0;font-size:12px;color:#333;background:url(../images/img_1.jpg) repeat}
.top{width:1003px;margin:50px auto 0 auto}
.png{
azimuth: expression(
this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none",
this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')",
this.src = "images/transparent.gif"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''),
this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='crop')",
this.runtimeStyle.backgroundImage = "none")),this.pngSet=true);
}
.top1{width:1003px;margin:0 auto}
.content{background:url(../images/img_4.jpg) repeat-x;height:261px}
.banner{width:1003px;margin:0 auto}
.banner_left{width:501px;float:left}
.banner_right{width:480px;float:left;margin:30px 0 0 20px;font-size:14px;color:#fff}
.banner_right p{margin-top:20px;line-height:28px}
.input{background:url(../images/login_5.jpg) no-repeat;width:184px;height:28px; vertical-align:middle;margin-top:0;border:0px solid #fff;line-height:25px;padding-top:2px;padding-left:2px}
.but{margin-left:70px}
.but_login{background:url(../images/login_6.jpg) no-repeat;width:79px;height:25px;font-size:14px;font-weight:bold;border:0 solid #fff;cursor:pointer}
.but_login1{background:url(../images/login_71.jpg) no-repeat;width:79px;height:25px;font-size:14px;font-weight:bold;border:0 solid #fff;cursor:pointer}
.bq{width:1003px;margin:30px auto 0 auto}
.sy{float:left}
.copyright{float:right;margin-right:10px;line-height:25px;margin-top:25px;width:600px;background:url(../images/login_8.jpg) no-repeat left center;padding-left:25px}
.login_icon{ background:url(../images/login_icon.gif) no-repeat 2px 0px; padding-left:26px;}
.but_login2{background:url(../images/login_61.jpg) no-repeat;width:79px;height:25px;font-size:14px;font-weight:bold;border:0 solid #fff;cursor:pointer}
.but_login21{background:url(../images/login_7.jpg) no-repeat;width:79px;height:25px;font-size:14px;font-weight:bold;border:0 solid #fff;cursor:pointer}
