﻿*{ margin:0px auto; padding:0;}
body { 
	font-family: "宋体";
	font-size:12px;
	background-image: url(../images/body_bg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}
table{ border-collapse:collapse;}
.login{ overflow:hidden;}

/*con*/
.login_con{ margin-top:50px;overflow:hidden; width:1003px; }
.login_left{
	float:left;
	margin-left:57px;
	-margin-left:27px;
	width:368px;
	height:387px;
	margin-top:21px;
	background-image: url(../images/login_img1.jpg);
	background-repeat: no-repeat;
}
.login_log{}
.login_tit{ float:left;background:url(../images/login_tit.jpg) no-repeat; width:597px; height:61px; margin-left:200px; margin-top:30px;}
/*.login_cen{ float:left; display:inline; background:url(../images/login_img02.jpg) repeat-x; width:43%;}
.login_right{ float:left; display:inline; width:243px; height:369px;}*/

.login_dl{
	float:left;
	font-family:"微软雅黑","黑体";
	color:#FFF;
	margin-top:92px;
	margin-left:230px;
	width:565px;
	height:347px;
	background-image: url(../images/main_1.jpg);
	background-repeat: no-repeat;
}
.login_info{ margin-top:142px; margin-left:100px; }
.login_info td{ height:35px;line-height:35px; font-size:14px;color:#FFF; overflow:hidden;}
.int{ border:1px solid #838383; height:20px; line-height:20px; width:160px;}
.login_bu{
	border:0;
	width:64px;
	height:31px;
	line-height:25px;
	font-family:"微软雅黑","黑体";
	color:#fff;
	margin-left:10px;
	margin-right:10px;
	cursor:pointer;
	font-size:14px;
	background-image: url(../images/button.png);
	background-repeat: no-repeat;
}

.login_btn{ margin:0px auto; padding:0;margin-top:48px;}
/*.login_btn a{ margin-left:4px; margin-right:4px;width:38px; height:35px;}
a.login_btn01{ float:left; background:url(../images/login_01.gif) no-repeat;}
a.login_btn02{ float:left; background:url(../images/login_02.gif) no-repeat;}
a.login_btn03{ float:left; background:url(../images/login_03.gif) no-repeat;}
a.login_btn04{ float:left; background:url(../images/login_04.gif) no-repeat;}
a.login_btn05{ float:left; background:url(../images/login_05.gif) no-repeat;}
a.login_btn06{ float:left; background:url(../images/login_06.gif) no-repeat;}
a.login_btn07{ float:left; background:url(../images/login_07.gif) no-repeat;}
a.login_btn08{ float:left; background:url(../images/login_08.gif) no-repeat;}*/
.login_bg{ clear:both;}
.viewhigh{
	float:left;
	background:url(../images/login_a1.gif) no-repeat;
	width:690px;
	height:93px;
	margin-left:67px;
	-margin-left:27px;
}
.smart{float:right;background:url(../images/login_smart.gif) no-repeat right bottom; width:188px; height:23px; padding-top:70px;-padding-top:70px; margin-right:24px;      
    position:fixed;     
    bottom:40px; 
	right:0px;
	overflow:hidden;  }
/*bottom*/
.login_bottom{ clear:both;background:url(../images/bottombg.gif) repeat-x; height:38px;color:#fff; margin-top:5px; position:fixed;
    left:0px;   
    bottom:0;    
	overflow:hidden; width:100%}
.logo{ padding:7px 0px;}
.logo img{ padding:3px 6px; vertical-align:middle;}
.login_bottom_text{ float:right;text-indent:12px; padding-right:24px; line-height:38px;}
.login_bottom a{ color:#fff;text-decoration:none}
.login_bottom a:hover{ text-decoration:underline}
.login_icon{ background:url(../images/login_icon.gif) no-repeat 2px 0px; padding-left:26px;}
