body {
	background-color: #F6F6F6;
	border: inset 2px;
	margin: 4px;
}

.subBody
{
    behavior: expression("url("+window.prefix+"base/htc/body.htc)");
	background-color: #FFFFFF;
	border: inset 0px;
	margin: 5px, 0px, 0px, 0px;
	scroll: auto;
	overflow: hidden;
}



div {
SCROLLBAR-FACE-COLOR: #ffffff; SCROLLBAR-HIGHLIGHT-COLOR: #A7CCF4;
SCROLLBAR-SHADOW-COLOR:#A7CCF4; SCROLLBAR-3DLIGHT-COLOR:#ffffff;
SCROLLBAR-ARROW-COLOR:#A7CCF4; SCROLLBAR-TRACK-COLOR:#ffffff;
SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
}

/*
 * 样式表中tbody中文表头样式
 */
.mainBody {
    background:#F8BE6F;
}
/*
 * 标题头
 * -- 改进，用margin，边框用此颜色，不用htc
 */
.titleHeader {
	font-family: 宋体;
	font-size: 14px;
	font-weight: normal;
	color:darkblue;
	padding: 3px 0px 0px 15px;
	height: 18px;
  background-image:url("images/heng02.png");
  width: 875;
}

.titleHeaderBlank {
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#FFFFFF', EndColorStr='#F59C0C');
  width: 100%;
	height:12px;
}



/* ---------------------------------------------------- */
/* 输入框                                               */
/* ---------------------------------------------------- */

/*
 * 选择输入
 */
.inputTextA {
  behavior: expression("url("+window.prefix+"base/behaviors/inputText.htc)");
  width:140px;
  height:20px;
  border: 1 solid #838383;
  background:white;
  font-family:  宋体;
	font-size:    14px;
	font-weight:  normal;
}


/*
 * 表格中的输入框
 */
.inputTextTable {
  behavior: expression("url("+window.prefix+"base/behaviors/inputText.htc)");
  position:absolute;
  border: 0 solid #A3C9F0;
  background:white;
  font-family:  宋体;
	font-size:    14px;
	font-weight:  normal;
	vertical-align:top;
	padding:0;
	z-index:1;
}

/*
 * 表格中的金额
 */
.inputTextTableMoney {
  behavior: expression("url("+window.prefix+"base/behaviors/inputText.htc)");
  position:absolute;
  border: 1 solid #A3C9F0;
  background:white;
  text-align:right;
  font-family:  宋体;
	font-size:    14px;
	font-weight:  normal;
	z-index:1;
}


/*
 * 表格中的输入框
 */
.inputTextVouch {
  position:absolute;
  border: 1 solid #A3C9F0;
  background:white;
  font-family:  宋体;
	font-size:    14px;
	font-weight:  normal;
	z-index:1;
}



/*
 * 表格中的多选框
 */
.inputCheckTable {
  position:absolute;
  border: 1 solid #A3C9F0;
  background:white;
  font-family:  宋体;
	font-size:    14px;
	font-weight:  normal;
	z-index:1;
}

/*
 * 按钮容器
 */
.btnDiv {
  position:absolute;
	z-index:2;
	width:14px;
	height:16px;
	border:0px solid #7B9EBD;
	overflow-x:hidden;
	overflow-y:hidden;
	background-color:#ffffff;
}


/* ---------------------------------------------------- */
/* 日历                                               */
/* ---------------------------------------------------- */
.inputCalendar {
  behavior: expression("url("+window.prefix+"base/behaviors/calendar.htc)");
  width:100px;
  height:20px;
  border: 1 solid #838383;
  background:white;
  font-family:  宋体;
	font-size:    14px;
	font-weight:  normal;
}
/* ---------------------------------------------------- */
/* 选择框                                               */
/* ---------------------------------------------------- */

/*
 * A
 */
.inputSelectA {
  behavior: expression("url("+window.prefix+"base/behaviors/select1.htc)");
  width:140px;
  height:20px;
  border: 1 solid #838383;
  background:white;
  font-family:  宋体;
	font-size:    14px;
	font-weight:  normal;
}
.inputSelectA_text {
  width:140px;
  height:20px;
  border: 0 solid #838383;
  background:white;
  font-family:  宋体;
	font-size:    14px;
	font-weight:  normal;
}


.select_list {  /* 下拉框 */
	position:absolute;
	z-index:10;
	border:1px solid #7B9EBD;
	height:100;
	overflow-x:auto;
	overflow-y:auto;
	background-color:#ffffff;
}
/*
 * Vouch
 */
.inputSelectVouch {
  behavior: expression("url("+window.prefix+"base/behaviors/selectVouch.htc)");
  width:100%;
  height:20px;
  border: 0 solid #838383;
  background:white;
  font-family:  宋体;
	font-size:    14px;
	font-weight:  normal;
}
.inputSelectVouch_text {
  width:100%;
  height:20px;
  border: 0 solid #838383;
  background:white;
  font-family:  宋体;
	font-size:    14px;
	font-weight:  normal;
}


/* ---------------------------------------------------- */
/* 按钮                                                 */
/* ---------------------------------------------------- */


/*
 * 表格按钮
 * -- TBD line-height 能否合并
 */
.pageBtn {
  cursor:hand;
	behavior: expression("url("+window.prefix+"base/htc/button.htc)");
	line-height:  16px;
	background-image: expression("url("+window.prefix+"images2/button/bian.png)");
	border: 1px solid #2DA0F5;
	height:21;
	color: #FFFFFF;
	padding: 0px;
	margin: 0px;
	font-family: "宋体";
	font-size: 9pt;
}


/*
 * 表格按钮
 * -- TBD line-height 能否合并
 */
.tableBtn {
  cursor:hand;
	behavior: expression("url("+window.prefix+"base/htc/button.htc)");
	line-height:  16px;
	background-image: expression("url("+window.prefix+"images2/button/bian.png)");
	border: 1px solid #2DA0F5;
	height:21;
	color: #FFFFFF;
	padding: 0px;
	margin: 0px;
	font-family: "宋体";
	font-size: 9pt;
}


/* ---------------------------------------------------- */
/* VML 图象                                             */
/* ---------------------------------------------------- */
v\:* {
	behavior:url(#default#VML);
}


/*========================================================
 * 容器分为两类，1. 一维容器，2. 二维容器
 *======================================================*/

/*-------------------------------------------------------
 * 一维容器
 *-----------------------------------------------------*/
.lineCtn {
  behavior: expression("url("+window.prefix+"base/behaviors/lineCtn.htc)");
  font-family:  宋体;
	font-size:    14px;
	font-weight:  normal;
	width: 96%;
	margin:12px 2%;
	line-height:30px;
}




/*-------------------------------------------------------
 * 二维容器
 *-----------------------------------------------------*/
/*
 * 结果Table
 * 含HTC－－没记录
 * 表头是一个result
 */
.tableCtn {
  behavior: expression("url("+window.prefix+"base/behaviors/tableCtn.htc)");
  font: normal 12px 宋体;
  width: 100%;
  margin:2%;
}


.reportCtn {
  behavior: expression("url("+window.prefix+"base/behaviors/report.htc)");
  font: normal 12px 宋体;
  width: 100%;
  margin:2%;
}

/*-------------------------------------------------------
 * 凭证容器
 *-----------------------------------------------------*/
/*
 */
.vouchCtn1 {
  behavior: expression("url("+window.prefix+"base/behaviors/vouch.htc)");
  font: normal 12px 宋体;
  width: 100%;
  border-width:1;
  border-color: #B2B2B2;
  overflow:scroll;
}
.vouchCtn2 {
  behavior: expression("url("+window.prefix+"base/behaviors/vouch2.htc)");
  font: normal 12px 宋体;
  width: 100%;
  border-width:1;
  border-color: #B2B2B2;
  overflow:scroll;
}






/*
 * tableTitle
 */
.tableTitle {
  font-family:"宋体"; font-size:15px;font-weight:bold; text-decoration:none; color:#0066cc;
  width:100%;
  text-align:center; vertical-align:bottom;
}



/*
 * moneyCol
 */
.moneyCol {
  width:105px;
  text-align:right;
}




/*
 * 结果Table
 * 含HTC－－没记录
 * 表头是一个result
 */
.checkCtn {
  behavior: expression("url("+window.prefix+"base/behaviors/checkCtn.htc)");
  font: normal 12px 宋体;
  width: 100%;
  margin:2%;
}

.checkCtn1 {
  behavior: expression("url("+window.prefix+"base/behaviors/checkCtn1.htc)");
  font: normal 12px 宋体;
  width: 100%;
  margin:2%;
}

.dbGrid {
  behavior: expression("url("+window.prefix+"base/behaviors/dbGrid.htc)");
  font: normal 12px 宋体;
  width: 100%;
  margin:2%;
}

.mainTable {
  border-collapse:collapse;
  font-family:"宋体";
  font-size:14px;
  background-color: white;
  padding : 2;
  width: 100%;
  border-color:black;
}

.checkTable {
  border-collapse:collapse;
  font-family:"宋体";
  font-size:15px;
  padding : 2;
}

.mainHead {
  border-collapse:collapse;
  font-family:"宋体";
  font-size:15px;
  color:#4f3579;
  text-decoration:none;
  background:#FFDDA6;
  text-align:center;
  vertical-align:bottom;
  CELLSPACING : 0;
  width:100%;
}

vh\:tabs{
	behavior: expression("url("+window.prefix+"base/behaviors/Tab.htc)");
}
/* ---------------------------------------------------- */
/* treeCheck                                            */
/* ---------------------------------------------------- */
vh\:treeCheck
{
  behavior: expression("url("+window.prefix+"base/behaviors/treeCheck.htc)");
}
/* ---------------------------------------------------- */
/* calendar                                             */
/* ---------------------------------------------------- */
vh\:calendar
{
  behavior: expression("url("+window.prefix+"base/behaviors/calendar.htc)");
}
.ds_font td,span
{	border: 1px ;
    font: normal 12px 宋体;
    color: #000000;
}
.ds_border
{
	border: 1px solid #000000;
	cursor: hand;
	background-color: #33CCFF
}
.ds_border2
{
	border: 1px solid #000000;
	cursor: hand;
	background-color: #33CCFF
}



.listTable {
  position:absolute;
	z-index:1;
	border:1px solid #7B9EBD;
	height:100px;
	overflow-x:auto;
	overflow-y:auto;
	background-color:#ffffff;
}



/*
 *现金
 */
.gridCtn {
  behavior: expression("url("+window.prefix+"base/behaviors/gridCtn.htc)");
  font: normal 12px 宋体;
  width: 100%;
  border-width:1;
  border-color: #B2B2B2;
  overflow:scroll;
}

/*
 *银行
 */
.gridCtn2 {
  behavior: expression("url("+window.prefix+"base/behaviors/gridCtn2.htc)");
  font: normal 12px 宋体;
  width: 100%;
  border-width:1;
  border-color: #B2B2B2;
  overflow:scroll;
}

/*
 *往来
 */
.gridCtn3 {
  behavior: expression("url("+window.prefix+"base/behaviors/gridCtn3.htc)");
  font: normal 12px 宋体;
  width: 100%;
  border-width:1;
  border-color: #B2B2B2;
  overflow:scroll;
}

/*
 *核算
 */
.gridCtn4 {
  behavior: expression("url("+window.prefix+"base/behaviors/gridCtn4.htc)");
  font: normal 12px 宋体;
  width: 100%;
  border-width:1;
  border-color: #B2B2B2;
  overflow:scroll;
}

/*
 *现金银行
 */
.gridCtn5 {
  behavior: expression("url("+window.prefix+"base/behaviors/gridCtn5.htc)");
  font: normal 12px 宋体;
  width: 100%;
  border-width:1;
  border-color: #B2B2B2;
  overflow:scroll;
}

/*
 * 新下拉列表
 */
.inputSelect1A {
  behavior: expression("url("+window.prefix+"base/behaviors/select1.htc)");
  width:140px;
  height:20px;
  border: 1 solid #838383;
  background:white;
  font-family:  宋体;
	font-size:    14px;
	font-weight:  normal;
}
.inputSelect1A_text {
  width:140px;
  height:20px;
  border: 0 solid #838383;
  background:white;
  font-family:  宋体;
	font-size:    14px;
	font-weight:  normal;
}


/*
 * 新下拉列表
 */
.inputSelect2A {
  behavior: expression("url("+window.prefix+"base/behaviors/select1.htc)");
  width:140px;
  height:20px;
  border: 1 solid #838383;
  background:white;
  font-family:  宋体;
	font-size:    14px;
	font-weight:  normal;
}
.inputSelect2A_text {
  width:140px;
  height:20px;
  border: 0 solid #838383;
  background:white;
  font-family:  宋体;
	font-size:    14px;
	font-weight:  normal;
}



/**
 * 主辅表样式   multi main detail
 */
.MDCtn {
  behavior: expression("url("+window.prefix+"base/behaviors/MDCtn.htc)");
}

.mainCtn {
  font-family:  宋体;
	font-size:    14px;
	font-weight:  normal;
	width: 96%;
	margin:12px 2%;
	line-height:30px;
}

.detailCtn {
  font: normal 12px 宋体;
  width: 100%;
  margin:2%;
}

.btnCtn {
  width:100%
}


/*
 * 单选下拉列表
 */
.inputSelect {
  behavior: expression("url("+window.prefix+"base/htc/select.htc)");
  width:140px;
  height:20px;
  border-width: 1 solid #838383;
  background:white;
  font-family:  宋体;
	font-size:    14px;
	font-weight:  normal;
}

.inputSelect_text{
  width:140px;
  height:20px;
  border: 0 solid #838383;
  background:white;
  font-family:  宋体;
	font-size:    14px;
	font-weight:  normal;
}

.numberText{font-family: "宋体";text-decoration: none;color: #000000;text-align:right}
.normalText{font-family: "宋体";text-decoration: none;color: #000000;text-align:left}
.centerText{font-family: "宋体";text-decoration: none;color: #000000;text-align:center}

.tdHead{border-collapse:collapse;
        font-family:'宋体';
        font-size:15px;
        font-weight:bold;
        color:#4f3579;
        text-decoration:none;
        background:#EEEEEE;
        text-align:center;
        vertical-align:bottom;
        CELLSPACING : 0;
        width:110mm
}

o\:* {
	behavior: url(#default#VML);
}

p\:* {
	behavior:url(#default#VML);
}

/******Common.htc*********/
ehfs\:cmm{
  behavior:url(../htc/commonv.htc);
}

/*****************************/
/*phms polyline*/
/***********************/

ehfs\:plb{
	behavior:url(../htc/myPolylineb.htc);
	position:absolute;
	z-index:1;
	display:block;
	visibility:hidden;
	border:0px solid #666666;
} 