/*
 * 页面样式总体定义
 */
body {
	background-color: #FFFFFF;
	border: inset 0px;
	margin: 0px;
	font-size:    12px;
}
td {
  font-family:  宋体;
	font-size:    13px;
	font-weight:  normal;
}
div {
  SCROLLBAR-FACE-COLOR: #ffffff; SCROLLBAR-HIGHLIGHT-COLOR: #A7CCF4;
  SCROLLBAR-SHADOW-COLOR:#A7CCF4; SCROLLBAR-3DLIGHT-COLOR:#ffffff;
  SCROLLBAR-ARROW-COLOR:#A7CCF4; SCROLLBAR-TRACK-COLOR:#ffffff;
  SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
}
legend{
	font-size:    13px;
}
/*
*checkbox样式
*/
input[type="checkbox"]{
	width: 10; 
	height: 10;
}

/*
 * BODY样式
 */
.subBody
{
  behavior: expression("url("+window.prefix+"base/htc/body.htc)");
  background-color: #FFFFFF;
	border: inset 0px;
	margin: 5px, 0px, 0px, 0px;
	scroll: auto;
	overflow: hidden;
}

/*
 * 标题头样式，左上角、深兰色
 */
.titleHeader {
	font-family: 宋体;
	font-size: 14px;
	font-weight: normal;
	color:darkblue;
	padding: 3px 0px 0px 10px;
	height: 26px;
  background-image:url("images/6.png");
  width: 875;
  behavior: expression("url("+window.prefix+"base/htc/titleheader.htc)");
}

/*
 * 3类普通输入框样式
 */
.inputTextA {
  behavior: expression("url("+window.prefix+"base/htc/inputText.htc)");
  height:18px;
  border: 1 solid #C1CDC1;
  background:white;
  font-family:  宋体;
	font-size:    13px;
	font-weight:  normal;
}
.inputInteger {
  behavior: expression("url("+window.prefix+"base/htc/inputText.htc)");
  height:18px;
  border: 1 solid #C1CDC1;
  background:white;
  font-family:  宋体;
	font-size:    14px;
	font-weight:  normal;
}
.inputDecimal {
  behavior: expression("url("+window.prefix+"base/htc/inputText.htc)");
  height:20px;
  border: 1 solid #C1CDC1;
  background:white;
  font-family:  宋体;
	font-size:    14px;
	font-weight:  normal;
}
.inputYearMonth {
	behavior: expression("url("+window.prefix+"base/htc/yearmonth.htc)");
	width:140px;
	height:18px;
	border: 1 solid #C1CDC1;
	background:white;
	font-family:  宋体;
	font-size:    13px;
	font-weight:  normal;
}
/*
 * 表格中的输入框
 */
.inputTextTable {
  behavior: expression("url("+window.prefix+"base/htc/inputText.htc)");
  position:absolute;
  border: 1 solid #C1CDC1;
  background:white;
  font-family:  宋体;
	font-size:    13px;
	font-weight:  normal;
	z-index:1;
}
/*
 * 表格中的金额输入框
 */
.inputTextTableMoney {
  behavior: expression("url("+window.prefix+"base/htc/inputText.htc)");
  position:absolute;
  border: 1 solid #C1CDC1;
  background:white;
  text-align:right;
  font-family:  宋体;
	font-size:    13px;
	font-weight:  normal;
	z-index:1;
}

/*
 * 表格中的CheckBox样式
 */
.inputCheckTable {
  position:absolute;
  border: 1 solid #A3C9F0;
  background:white;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
	z-index:1;
}

/*
 * 页面普通按钮
 */
.pageBtn {
  cursor:hand;
	behavior: expression("url("+window.prefix+"base/htc/button.htc)");
	line-height:  16px;
	background-image: expression("url("+window.prefix+"images2/button/bian.png)");
	border: 1px solid #2DA0F5;
	height:21;
	color: #FFFFFF;
	padding: 0px;
	margin: 0px;
	font-family: "宋体";
	font-size: 9pt;
}
/*
 * 没有样式的表格按钮
 */
.simpleBtn {
  cursor:hand;
  font-family:  宋体;
	font-size:    12px;
	line-height:  14px;
	border-color: #B2B2B2;
  background:   white;
  border-width: 1;
  border-style: solid ;
}
/*
 * tableCtn中按钮
 */
.tableBtn {
  cursor:hand;
	behavior: expression("url("+window.prefix+"base/htc/button.htc)");
	line-height:  16px;
	background-image: expression("url("+window.prefix+"images2/button/bian.png)");
	border: 1px solid #2DA0F5;
	height:21;
	color: #FFFFFF;
	padding: 0px;
	margin: 0px;
	font-family: "宋体";
	font-size: 9pt;
}

/*
 * 日历
 */
.inputCalendar {
  behavior: expression("url("+window.prefix+"base/htc/calendar.htc)");
  width:100px;
  height:18px;
  border: 1 solid #C1CDC1;
  background:white;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}

/*
 * 文本域
 */
.inputTextarea {
  behavior: expression("url("+window.prefix+"base/htc/textarea.htc)");
  border: 1 solid #C1CDC1;
  background:white;
  font-family:  宋体;
	font-size:    13px;
	font-weight:  normal;
}

/*
 * 单选下拉列表
 */
.inputSelect {
  behavior: expression("url("+window.prefix+"base/htc/select.htc)");
  width:140px;
  height:18px;
  border: 1 solid #C1CDC1;
  background:white;
  font-family:  宋体;
	font-size:    13px;
	font-weight:  normal;
}
/*
 * 单选下拉列表(有些页面把大S写成小s,为风格统一特再写一个)
 */
.inputselect {
  behavior: expression("url("+window.prefix+"base/htc/select.htc)");
  width:140px;
  height:18px;
  border: 1 solid #838383;
  background:white;
  font-family:  宋体;
	font-size:    13px;
	font-weight:  normal;
}
.inputSelect_text {
  width:140px;
  height:20px;
  border: 0 solid #C1CDC1;
  background:white;
  font-family:  宋体;
	font-size:    13px;
	font-weight:  normal;
}
/*
 * 单选下拉列表中展示列样式
 */
.select_list {
	position:absolute;
	z-index:10;
	border:1px solid #7B9EBD;
	height:100;
	overflow-x:auto;
	overflow-y:auto;
	background-color:#ffffff;
}
.inputSelectS {
  behavior: expression("url("+window.prefix+"base/htc/selects.htc)");
  width:140px;
  height:18px;
  border: 1 solid #838383;
  background:white;
  font-family:  宋体;
	font-size:    13px;
	font-weight:  normal;
}
.inputSelectS_text {
  width:140px;
  height:18px;
  border: 0 solid #838383;
  background:white;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}
/*
 * VML 图象
 */
v\:* {
	behavior:url(#default#VML);
}

/*
 * 一维容器
 */
.lineCtn {
  behavior: expression("url("+window.prefix+"base/htc/lineCtn.htc)");
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
	width: 100%;
	margin:12px 0;
	line-height:30px;	
 background:url(../../../../base/themes/default/skins/skins01/images/search_bg.gif) repeat-x left bottom;
}

/*
 * 二维容器
 */

.tableCtn {
  behavior: expression("url("+window.prefix+"base/htc/tableCtn.htc)");
  font: normal 12px 宋体;
  width: 100%;
  margin:0;
}

.tableCtna {
  behavior: expression("url("+window.prefix+"base/htc/tableCtn.htc)");
  font: normal 12px 宋体;
  width: 100%;
  margin:0;
}
.tableCtna_use {
  behavior: expression("url("+window.prefix+"base/htc/tableCtna.htc)");
  font: normal 12px 宋体;
  width: 100%;
  margin:0;
}
/*
 * 二维容器(fixcol)
 */
.fixTable {
  behavior: expression("url("+window.prefix+"base/htc/table_xml.htc)");
  font: normal 14px 宋体;
  width: 100%;
  margin:0 0;
  border:0;}
.fixTable th{background:url(../../../../base/themes/default/skins/skins01/images/th_bg.gif) repeat-x; 
}

vh\:table {
	behavior:expression("url("+window.prefix+"base/htc/table_xml.htc)");
}

/*
 * tableCtn中的表格标题，居中
 */
.tableTitle {
  font-family:"宋体"; font-size:13px;font-weight:bold; text-decoration:none; color:#0066cc;
  width:100%;
  text-align:center; 
  vertical-align:bottom;
  margin-bottom:10;
}

/*
 * 式表中金额列显示样式
 */
.moneyCol {
  width:105px
}

/*
 * 样式表中table样式
 */
.mainTable {
  border-collapse:collapse;
  font-family:"宋体";
  font-size:12px;
  background-color: white;
  padding : 0;
  width: 100%;
  border-color:#000000;
}

/*
 * 样式表中thead中文表头样式
 */
/*.mainHead {
	font-weight: bold;
	border-collapse:collapse;
	font-family:"宋体";
	color:#472300;
	text-decoration:none;
	background:#FFDDA6;
	text-align:center;
	vertical-align:bottom;
	CELLSPACING : 0;
	width:100%;
	height:23;
	background-color:#FCB724;
}*/
.mainHead{
	background:url(../default/skins/skins01/images/th_bg.gif) repeat-x; text-align:center;
	height:24px;line-height:24px;
}
.mainHead th{height:24px;}

.mainHeadB {
	font-weight: bold;
	border-collapse:collapse;
	font-family:"宋体";
	color:#472300;
	text-decoration:none;
	background-color:#FCB724;
}
/*
 * 样式表中tbody中文表头样式
 */
.mainBody {
    background:#F8BE6F;
}

/*
 * 多选下拉列表
 */
.inputMultiSelect {
  behavior: expression("url("+window.prefix+"base/htc/multiSelect.htc)");
  position:absolute;
  z-index:0;
  width:140px;
  height:20px;
  border: 1 solid #C1CDC1;
  background:white;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}

/*
 * 多选双下拉列表
 */
.inputDoubleMultiSelect {
  behavior: expression("url("+window.prefix+"base/htc/doubleMultiSelect.htc)");
  position:absolute;
  z-index:0;
  width:140px;
  height:20px;
  border: 1 solid #C1CDC1;
  background:white;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}

/*
 * radio选择
 */
.inputRadio {
  behavior: expression("url("+window.prefix+"base/htc/inputRadio.htc)");
  width:140px;
  height:20px;
  font-size:14px;
  border: 1 solid #C1CDC1;
  background:white;
  font-family:  宋体;
  font-size:    12px;
  font-weight:  normal;
}

/*
 * checkBox选择框
 */
.inputCheckBox {
  behavior: expression("url("+window.prefix+"base/htc/inputCheckBox.htc)");
  width:140px;
  height:20px;
  border: 1 solid #C1CDC1;
  background:white;
  font-family:  宋体;
  font-size:    12px;
  font-weight:  normal;
}

/*
 * 页签
 */
.tag {
  behavior: expression("url("+window.prefix+"base/htc/tag.htc)");
}
vh\:tag {
  behavior: expression("url("+window.prefix+"base/htc/tag_ext.htc)");
}
vh\:tagPage {

}


.tag_Card_UnSelected
{
  position:absolute;        
  cursor:hand;
  font:menu;
  text-align:center;
  top:4;
  border-left:inset 2 ;
  border-right:inset 2 ;
}
.tag_Card_Selected
{        
  position:absolute;      
  cursor:hand;
  font:caption;
  height:26;
  text-align:center;
  top:4;
  border-left:inset 2 ;
  border-right:inset 2 ;
}
.tag_hidden
{
  position:relative;
  display:none;
}
.tag_visable
{
	position:relative;
	display:block;
}
.tag_Position
{
	position:absolute;
}
.tag_Page_Div
{
  border:3 outset menu;
	position:relative;
	display:block;
}

/*
 * 柱图、饼图、折线图公共组件
 */
vh\:cmm{
  behavior: expression("url("+window.prefix+"base/htc/common.htc)");
}

/*
 * 折线图组件
 */
vh\:pl{
	behavior: expression("url("+window.prefix+"base/htc/myPolyline.htc)");
  position: absolute;
	z-index: 0;
	display: block;
	cursor: default;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	visibility: visible;
}
.hbos_pl_containerDiv {
	/* 折线图组件容器 */
	position: absolute;
	z-index: 1;
	border: solid 0px red;
}

/*
 * 饼图组件
 */
vh\:cs {
  behavior: expression("url("+window.prefix+"base/htc/cakyStat.htc)");
  position: absolute;
	z-index: 0;
	display: block;
	cursor: default;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	visibility: visible;
}
.hbos_cs_containerDiv {
	/* 饼图组件容器 */
	position: absolute;
	z-index: 1;
	border: solid 0px red;
}

/*
 * 柱图组件
 */
vh\:ps {
  behavior: expression("url("+window.prefix+"base/htc/pillarStat.htc)");
  position: absolute;
	z-index: 0;
	display: block;
	cursor: default;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	visibility: visible;
}
.hbos_ps_containerDiv {
	/* 柱图组件容器 */
	position: absolute;
	z-index: 1;
	border: solid 0px red;
}
.hbos_ps_errorInfoSpan {
	/* 出错信息 */
	position: absolute;
	font-size: 9pt;
	z-index: 1;
	border: solid 0px red;
}

/*
 * 柱图组件
 */
vh\:pgs {
  behavior: expression("url("+window.prefix+"base/htc/pillarGroupStat.htc)");
  position: absolute;
	z-index: 0;
	display: block;
	cursor: default;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	visibility: visible;
}
.hbos_pgs_containerDiv {
	/* 柱图组件容器 */
	position: absolute;
	z-index: 1;
	border: solid 0px red;
}
.hbos_pgs_errorInfoSpan {
	/* 出错信息 */
	position: absolute;
	font-size: 9pt;
	z-index: 1;
	border: solid 0px red;
}

/**
 * 主辅表样式   multi main detail
 */
.MDCtn {
  behavior: expression("url("+window.prefix+"base/behaviors/MDCtn.htc)");
}

.mainCtn {
  font-family:  宋体;
	font-size:    14px;
	font-weight:  normal;
	width: 96%;
	margin:12px 2%;
	line-height:30px;
}

.detailCtn {
  font: normal 12px 宋体;
  width: 100%;
  margin:2%;
}

.btnCtn {
  width:100%
}




.numberText{font-family: "宋体";text-decoration: none;color: #000000;text-align:right}
.numberTextWarnning{font-family: "宋体";text-decoration:none;font-weight:bold;color:orange;text-align:right}
.normalText{font-family: "宋体";text-decoration: none;color: #000000;text-align:left}
.centerText{font-family: "宋体";text-decoration: none;color: #000000;text-align:center}


div.tableContainer { 
clear: both; 
border: 1px solid #963; 
height: 285px; 
overflow: auto; 
width: 100%; 
} 

/* WinIE 6.x needs to re-account for it''s scrollbar. Give it some padding */ 
\html div.tableContainer/* */ { 
padding: 0 16px 0 0 
} 

/* clean up for allowing display Opera 5.x/6.x and MacIE 5.x */ 
html>body div.tableContainer { 
height: auto; 
padding: 0; 
width: 740px 
} 

/* Reset overflow value to hidden for all non-IE browsers. */ 
/* Filter out Opera 5.x/6.x and MacIE 5.x */ 
head:first-child+body div[class].tableContainer { 
height: 285px; 
overflow: hidden; 
width: 756px 
} 

/* define width of table. IE browsers only */ 
/* if width is set to 100%, you can remove the width */ 
/* property from div.tableContainer and have the div scale */ 
div.tableContainer table { 
float: left; 
width: 100% 
} 

/* WinIE 6.x needs to re-account for padding. Give it a negative margin */ 
\html div.tableContainer table/* */ { 
margin: 0 -16px 0 0 
} 

/* define width of table. Opera 5.x/6.x and MacIE 5.x */ 
html>body div.tableContainer table { 
float: none; 
margin: 0; 
width: 740px 
} 

/* define width of table. Add 16px to width for scrollbar. */ 
/* All other non-IE browsers. Filter out Opera 5.x/6.x and MacIE 5.x */ 
head:first-child+body div[class].tableContainer table { 
width: 756px 
} 

/* set table header to a fixed position. WinIE 6.x only */ 
/* In WinIE 6.x, any element with a position property set to relative and is a child of */ 
/* an element that has an overflow property set, the relative value translates into fixed. */ 
/* Ex: parent element DIV with a class of tableContainer has an overflow property set to auto */ 
thead.fixedHeader tr { 
position: relative; 
/* expression is for WinIE 5.x only. Remove to validate and for pure CSS solution */ 
top: expression(document.getElementById("tableContainer").scrollTop) 
} 


/* set THEAD element to have block level attributes. All other non-IE browsers */ 
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */ 
/* Filter out Opera 5.x/6.x and MacIE 5.x */ 
head:first-child+body thead[class].fixedHeader tr { 
display: block 
} 

/* make the TH elements pretty */ 
thead.fixedHeader th { 
background: #FFDDA6; 
color:#5C2501;
border-left: 1px solid #EB8; 
border-right: 1px solid #B74; 
border-top: 1px solid #EB8; 
font-weight: bold; 
font-size:13px;
padding: 4px 3px; 
text-align: center 



} 

/* make the A elements pretty. makes for nice clickable headers */ 
thead.fixedHeader a, thead.fixedHeader a:link, thead.fixedHeader a:visited { 
color: #FFF; 
display: block; 
text-decoration: none; 
width: 100% 
} 

/* make the A elements pretty. makes for nice clickable headers */ 
/* WARNING: swapping the background on hover may cause problems in WinIE 6.x */ 
thead.fixedHeader a:hover { 
color: #FFF; 
display: block; 
text-decoration: underline; 
width: 100% 
} 

/* define the table content to be scrollable */ 
/* set TBODY element to have block level attributes. All other non-IE browsers */ 
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */ 
/* induced side effect is that child TDs no longer accept width: auto */ 
/* Filter out Opera 5.x/6.x and MacIE 5.x */ 
head:first-child+body tbody[class].scrollContent { 
display: block; 
height: 20px; 
overflow: auto; 
width: 100% 
} 

/* make TD elements pretty. Provide alternating classes for striping the table */ 
/* http://www.alistapart.com/articles/zebratables/ */ 
tbody.scrollContent td, tbody.scrollContent tr.normalRow td { 
border-bottom: 1px solid #EEE; 
border-left: 1px solid #EEE; 
border-right: 1px solid #AAA; 
border-top: 1px solid #AAA; 
padding: 2px 3px
} 

tbody.scrollContent tr.alternateRow td { 
background: #EEE; 
border-bottom: 1px solid #EEE; 
border-left: 1px solid #EEE; 
border-right: 1px solid #AAA; 
border-top: 1px solid #AAA; 
padding: 2px 3px 
} 

/* define width of TH elements: 1st, 2nd, and 3rd respectively. */ 
/* All other non-IE browsers. Filter out Opera 5.x/6.x and MacIE 5.x */ 
/* Add 16px to last TH for scrollbar padding */ 
/* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors */ 
head:first-child+body thead[class].fixedHeader th { 
width: 200px 
} 

head:first-child+body thead[class].fixedHeader th + th { 
width: 250px 
} 

head:first-child+body thead[class].fixedHeader th + th + th { 
border-right: none; 
padding: 4px 4px 4px 3px; 
width: 316px 
} 

/* define width of TH elements: 1st, 2nd, and 3rd respectively. */ 
/* All other non-IE browsers. Filter out Opera 5.x/6.x and MacIE 5.x */ 
/* Add 16px to last TH for scrollbar padding */ 
/* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors */ 
head:first-child+body tbody[class].scrollContent td { 
width: 200px 
} 

head:first-child+body tbody[class].scrollContent td + td { 
width: 250px 
} 

head:first-child+body tbody[class].scrollContent td + td + td { 
border-right: none; 
padding: 2px 4px 2px 3px; 
width: 300px 

/* expression is for WinIE 5.x only. Remove to validate and for pure CSS solution */ 
top: expression(document.getElementById("tableContainer").scrollTop) 
} 

.findCtn{
  behavior: expression("url("+window.prefix+"/base/behaviors/findCtn.htc)");
  width:140px;
  height:20px;
  border: 1 solid #838383;
  background:white;
}

.commonInputStyle{
  border: 1 solid #838383;
  background:white;
}

o\:* {
	behavior: url(#default#VML);
}

p\:* {
	behavior:url(#default#VML);
}

/******Common.htc*********/
ehfs\:cmm{
  behavior:url(../htc/commonv.htc);
}

/*****************************/
/*phms polyline*/
/***********************/

vh\:plb{
	behavior:expression("url("+window.prefix+"base/htc/myPolylineb.htc)");
	position:absolute;
	z-index:1;
	display:block;
	visibility:hidden;
	border:0px solid #666666;
} 

/** Common.htc **/
vh\:statCmm{
  behavior: expression("url("+window.prefix+"base/htc/statCommon.htc)");
}

/** 曲线图 **/
vh\:statPl{
  behavior: expression("url("+window.prefix+"base/htc/statPolyline.htc)");
	position:absolute;
	z-index:1;
	display:block;
	visibility:hidden;
	border:0px solid #666666;
} 

/** 柱图 **/
vh\:statPs {
	/* pillarStat */
  behavior: expression("url("+window.prefix+"base/htc/statPillarStat.htc)");
	position: absolute;
	z-index: 0;
	display: block;
	cursor: default;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	visibility: visible;
}

/** 饼图 **/
vh\:statCs {
	/* cakyStat */
  behavior: expression("url("+window.prefix+"base/htc/statCakyStat.htc)");
	position: absolute;
	z-index: 0;
	display: block;
	cursor: default;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	visibility: visible;
}

/** 柱状分组图 **/
vh\:statPgs {
	/* pillarGroupStat */
  behavior: expression("url("+window.prefix+"base/htc/statPillarGroupStat.htc)");
	position: absolute;
	z-index: 0;
	display: block;
	cursor: default;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	visibility: visible;
}

/** 柱状对比图 **/
vh\:statPc {
	/* pillarGroupStat */
  behavior: expression("url("+window.prefix+"base/htc/statPillarCompare.htc)");
	position: absolute;
	z-index: 0;
	display: block;
	cursor: default;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	visibility: visible;
}
/** 条图 **/
.statCLine {
	/* cakyStat */
  behavior: expression("url("+window.prefix+"base/htc/statCakyLine.htc)");
}

.reportCtn {
  behavior: expression("url("+window.prefix+"base/behaviors/report.htc)");
  font: normal 12px 宋体;
  width: 100%;
  margin:2%;
}


vh\:LBQinput{ 
	behavior: expression("url("+window.prefix+"base/htc/LBQinput.htc)");
	position:absolute;
	margin-left:10;
	z-index:1;
	display:block;
	visibility:hidden;
	font-size:9pt;	
	border:0px solid #7B9EBD;
	
}

.phms_qinput_select {
	position:absolute;
	z-index:1;
	font-size:9pt	
	padding:1px;
}

.phms_qinputInput { 
	position:absolute;
	z-index:1;	
	top:1;	
	display:block;
	border:1px solid #7B9EBD;
}

.phms_qinputDiv { 
	position:absolute;
	z-index:0;	
	display:block;
}

.phms_qinputCaption{
  position:absolute;
	z-index:1;
	top:4;
	display:block;	
	border:0px solid #ffffff;
	background-color:#ffffff;
}

.phms_qinputList{
  position:absolute;
	z-index:1;
	background-color:red;
	border:0px solid #CCCCCC;
}

/** fixcol **/
.fixedHeaderTr 
{
background-color:LightBlue;
z-index:10;
position:relative; 
top:expression(this.offsetParent.scrollTop); 
font-size: 9pt;
word-break:break-all;
cursor: default;
BORDER-RIGHT: #555 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 4px; BACKGROUND: LightBlue; PADDING-BOTTOM: 4px; OVERFLOW: hidden; BORDER-LEFT: #fff 1px solid; CURSOR: hand; PADDING-TOP: 4px; BORDER-BOTTOM: #555 1px solid;


}; 
.fixedHeaderTr1
{
background-color:LightBlue;
font-size: 9pt;
position:relative; 
z-index:-1;
word-break:break-all;
cursor: default;
BORDER-RIGHT: #555 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 4px; BACKGROUND: LightBlue; PADDING-BOTTOM: 4px; OVERFLOW: hidden; BORDER-LEFT: #fff 1px solid; CURSOR: hand; PADDING-TOP: 4px; BORDER-BOTTOM: #555 1px solid;


}; 
.relativeTag
{
position:relative; 
};

.fixedHeaderCol 
{
font-size: 9pt;
word-break:break-all;
cursor: default;
BORDER-RIGHT: #555 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 4px; BACKGROUND: LightBlue; PADDING-BOTTOM: 4px; OVERFLOW: hidden; BORDER-LEFT: #fff 1px solid; CURSOR: hand; PADDING-TOP: 4px; BORDER-BOTTOM: #555 1px solid;        
background-color:LightBlue;
position:relative; 
left:expression(this.parentElement.offsetParent.scrollLeft); 
}; 

.mainDiv 
{ 
overflow:auto; 
scrollbar-face-color:#cccccc;
height:expression((document.body.clientHeight-this.offsetTop-20>this.children[0].offsetHeight)?(this.children[0].offsetHeight+20) : (document.body.clientHeight-this.offsetTop-20)); 
width:expression(document.body.clientWidth-20);
scrollbar-face-color: #DEE3E7;
scrollbar-highlight-color: #FFFFFF;
scrollbar-shadow-color: #DEE3E7;
scrollbar-3dlight-color: #D1D7DC;
scrollbar-arrow-color:  #006699;
scrollbar-track-color: #EFEFEF;
scrollbar-darkshadow-color: #98AAB1;
}
.resultLabel {
  font-weight: bold;
	border-collapse:collapse;
	font-family:"宋体";
	color:#472300;
	text-decoration:none;
	background:#FFDDA6;
	text-align:center;
	vertical-align:bottom;
	CELLSPACING : 0;

	height:23;
	background-color:#FCB724;
	}
.tableBaseDiv {
	overflow:scroll;padding:0
		border-top: 1px solid #333333;
		border-right: 1px solid #CCCCCC;
		border-bottom: 1px solid #CCCCCC;
		border-left: 1px solid #333333;	
	}
.inputMultiSelectm {
  behavior: expression("url("+window.prefix+"../base/htc/multiSelectm.htc)");
  position:absolute;
  z-index:0;
  width:140px;
  height:18px;
  border: 1 solid #838383;
  background:white;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}
.inputMultiSelectStyle {
	height:18px;
	border: 1 solid #838383;
	background:white;
	font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
	font: normal 12px 宋体;
	width: 100%;
	margin:0;
	overflow:auto;
	padding:0;
	SCROLLBAR-FACE-COLOR: #F2F2F2; 
	SCROLLBAR-HIGHLIGHT-COLOR: #999999;
	SCROLLBAR-SHADOW-COLOR:#999999; 
	SCROLLBAR-3DLIGHT-COLOR:#ffffff; 
	SCROLLBAR-ARROW-COLOR:#999999; 
	SCROLLBAR-TRACK-COLOR:#ffffff;
	SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
}

.treeTableCtn {
  behavior: expression("url("+window.prefix+"../base/htc/treeTableCtn.htc)");
  font: normal 12px 宋体;
  width: 100%;
  margin:0;
  overflow:auto;
  border:1px solid #eeeeee;
  padding:0;
  SCROLLBAR-FACE-COLOR: #F2F2F2; 
  SCROLLBAR-HIGHLIGHT-COLOR: #999999;
  SCROLLBAR-SHADOW-COLOR:#999999; 
  SCROLLBAR-3DLIGHT-COLOR:#ffffff; 
  SCROLLBAR-ARROW-COLOR:#999999; 
  SCROLLBAR-TRACK-COLOR:#ffffff;
  SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
}
.listTable{border:1px solid #999; border-collapse:collapse; font-size:12px;}
.listTable td{border:1px solid #999;}
