/*******************************************************************************
* 自定义插件css
* pengjin
* 基带版本@version 4.1.7 (2013-04-21)
*******************************************************************************/

/* 表单字段 begin */
.ke-icon-columnSelect {
	/*background-image: url(../themes/default/default.gif);*/
	background-position: 0px -1248px;
	width: 16px;
	height: 16px;
}
/* 表单字段 end */

/* 添加明细数据 begin */
.ke-icon-tableDetail {
    background-position: 0px -1264px;
    width: 16px;
    height: 16px;
}
/* 添加明细数据 end */

/* 添加表单模板 begin */
.ke-icon-formTemplate {
    background-position: 0px -1280px;
    width: 16px;
    height: 16px;
}
/* 添加表单模板 end */

