*{ margin:0 auto; padding:0;}
body{	background:url(../skins/skins01/images/left_bg.gif) repeat-x left bottom; overflow:scroll;}
#Lb_menu{ padding-left:5px; margin-top:10px;overflow:scroll;}
a{text-decoration:none;font-size:12px;color:#000; }
a:hover{color:#000;background:#43ADE6; }
.selected
{
	text-decoration:none;
	font-size:12px;
	color:#FFF;
	background:#43ADE6;
	}
.unselected
{
	text-decoration:none;
	font-size:12px;
	color:#000
	}

img{ border:0; margin-right:3px;}
a span{ position:relative; top:-5px;}
p{ height:20px; overflow:hidden;}