.a12
{
    font-size: 12px;
	line-height: 120%;
}
A:link
{
    FONT-SIZE: 12pt;
    COLOR: #333333
}
A:visited
{
    FONT-SIZE: 12pt;
    COLOR: #333333
}
A:active
{
    FONT-SIZE: 12pt;
    COLOR: #333333
}
A:hover
{
    FONT-SIZE: 12pt;
    COLOR: #333333
}
A.a01:link
{
    FONT-SIZE: 12px;
    COLOR: #333333;
    TEXT-DECORATION: none
}
A.a01:visited
{
    FONT-SIZE: 12px;
    COLOR: #333333;
    TEXT-DECORATION: none
}
A.a01:active
{
    FONT-SIZE: 12px;
    COLOR: #333333;
    TEXT-DECORATION: none
}
A.a01:hover
{
    FONT-SIZE: 12px;
    COLOR: #333333;
    TEXT-DECORATION: none
}
.a10
{
    FONT-SIZE: 10px
}
.bline
{
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid;
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    BACKGROUND: #ffffff;
    BORDER-LEFT: #999999 1px solid;
    COLOR: #000000;
    BORDER-BOTTOM: #999999 1px solid
}
.bigtitle {
	font-size: 10pt;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.title {
	font-size: 10pt;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 20pt;

}
.corpslink {
	font-size: 10pt;
	font-weight: normal;
	color: #CC0033;
	text-decoration: none;
}
.frist {
	font-size: 12pt;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
