
.1stMenuBg {font-size:15px;}
.1stchoseMenuText {font-family:"楷体_GB2312"; font-weight:bold; font-size:15px; text-decoration:none; color:#FFFFFF; text-align:center; vertical-align:bottom;}
.1stNoChoseMenuText {font-family:"楷体_GB2312"; font-weight:bold; font-size:15px; text-decoration:none; color:#000000; text-align:center; vertical-align:bottom;}
.2ndMenuBg {font-size:15px;}
.2ndchoseMenuText {font-family:"楷体_GB2312"; font-weight:bold; font-size:15px; text-decoration:none; color:#FFFFFF; text-align:center; vertical-align:bottom;}
.2ndNoChoseMenuText {font-family:"楷体_GB2312"; font-weight:bold; font-size:15px; text-decoration:none; color:#000000; text-align:center; vertical-align:bottom;}
.3rdchoseMenuText {font-family:"楷体_GB2312"; font-size:15px; text-decoration:none; color:#FFFFFF; text-align:left; vertical-align:bottom;}
.3rdNoChoseMenuText {font-family:"楷体_GB2312"; font-size:15px; text-decoration:none; color:#000000; text-align:left; vertical-align:bottom;}


.1stMenuNoChose
         		 {font-weight:normal;   font-size:10pt; 	text-decoration:none; 	color:#000000;
							text-align:center;	width:110; height:23;	background-image:url("images/1stMenuBg.gif"); 	cursor:hand; }
.1stMenuChose{font-weight:normal;   font-size:10pt; 	text-decoration:none; 	color:#000000;
							text-align:center;	width:110; height:23;	background-image:url("images/1stMenuBgChose.gif"); 	cursor:hand; }

.2ndMenuChose{font-weight:normal; 	font-size:10pt; 	text-decoration:none; 	color:#F97C00;
							text-align:center;	width:110; height:23;	background-image:url("images/2ndMenuBg.gif");	cursor:hand; }

.2ndMenuNoChose
						 {font-weight:normal; 	font-size:10pt; 	text-decoration:none; 	color:#000039;
							text-align:center;	width:110; height:23;	background-image:url("images/2ndMenuBg.gif");	cursor:hand; }

.2ndMenuBottom
						 {width:110; height:8;	background-image:url("images/2ndMenuBottomBg.gif");}

.3rdMenuChoseBg
						 {font-weight:normal; 	font-size:9pt; 	text-decoration:none; 	color:#000000;
							text-align:center; vertical-align:bottom;	width:91;	height:20;	cursor:hand;
							background-image:url("images/3rdMenuChoseBg.gif");}

.3rdMenuNoChoseBg
						 {font-weight:normal; 	font-size:9pt; 	text-decoration:none; 	color:#000000;
							text-align:center; vertical-align:bottom;	width:91;	height:20;	cursor:hand;
							background-image:url("images/3rdMenuNoChoseBg.gif");}

.3rdMenuEndBg{width:100%; height:20;}



.info 			 {font-weight:normal; font-size:14px; text-decoration:none; color: #333333;
							text-align:center;	vertical-align:bottom;);
							width:100%;	height:100%;	border:0;	}

.white_info {
	color: #FFFFFF;
	font-size: 12px;
}

.imgPswd {
cursor:hand;
background-image:url("images/password.gif");
}

.subBody {
  behavior:url(base/htc/body.htc);
}

