/*
 * 页面样式总体定义
 */
*{ margin:0px auto; padding:0px;}
body {
	background-color: #FFFFFF;
	border: inset 0px;
	margin: 0px;
	font-size:    12px;
}
td {
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}
th {
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}
div {
  SCROLLBAR-FACE-COLOR: #ffffff; SCROLLBAR-HIGHLIGHT-COLOR: #A7CCF4;
  SCROLLBAR-SHADOW-COLOR:#A7CCF4; SCROLLBAR-3DLIGHT-COLOR:#ffffff;
  SCROLLBAR-ARROW-COLOR:#A7CCF4; SCROLLBAR-TRACK-COLOR:#ffffff;
  SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
}

/*
 * BODY样式
 */
.subBody
{
  behavior: expression("url("+window.prefix+"base/htc/body.htc)");
  background-color: #FFFFFF;
	border: inset 0px;
	margin: 0px, 0px, 0px, 0px;
	scroll: auto;
	overflow: hidden;
}

/*
 * 标题头样式，左上角、深兰色
 */
.titleHeader {
	font-family: 宋体;
	font-size: 14px;
	font-weight: bold;
	color:#1B3487;
	height:25;
	padding: 3px 0px 0px 10px;
  background-image:url("images/6.png");
  behavior: expression("url("+window.prefix+"base/htc/titleheader.htc)");
}

/*
 * 第二个标题头样式，一根线
 */
.funcHeader {
	font-family: 宋体;
	font-size: 12px;
	font-weight: normal;
	color:#1B3487;
	padding: 0px 0px 0px 0px;

  background-image:url("images/10.png");
  behavior: expression("url("+window.prefix+"base/htc/titleheader.htc)");
}

/*
 * 3类普通输入框样式
 */
.inputTextA {
  behavior: expression("url("+window.prefix+"base/htc/inputText.htc)");
  height:18px;
  border: 1 solid #838383;
  background:white;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}
.inputTextF {
  behavior: expression("url("+window.prefix+"base/htc/inputText.htc)");
  height:18px;
  border: 1 solid #838383;
  background:white;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}
.inputTextS {
  behavior: expression("url("+window.prefix+"base/htc/inputTextS.htc)");
  width:140px;
  height:18px;
  border: 1 solid #838383;
  background:white;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}
.inputTextS_text {
  width:140px;
  height:18px;
  border: 0 solid #838383;
  background:white;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}
.commonInputStyle {
  height:18px;
  border: 1 solid #838383;
  background:white;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}
.commonInputStyle_dropdown {
  height:18px;
  border: 1 solid #838383;
  background:white;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
	background-color:white;
  background-image:url("");
  background-repeat:no-repeat;
  background-position:right;
}
.inputInteger {
  behavior: expression("url("+window.prefix+"base/htc/inputText.htc)");
  height:18px;
  border: 1 solid #838383;
  background:white;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}
.inputDecimal {
  behavior: expression("url("+window.prefix+"base/htc/inputText.htc)");
  height:18px;
  border: 1 solid #838383;
  background:white;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}
.inputFDecimal{
  behavior: expression("url("+window.prefix+"base/htc/inputFDecimal.htc)");
  height:18px;
  border: 1 solid #838383;
  background:white;
  font-family:  宋体;
font-size:    14px;
font-weight:  normal;
text-align:right;
}
/*
 * 表格中的输入框
 */
.inputTextTable {
  behavior: expression("url("+window.prefix+"base/htc/inputText.htc)");
  position:absolute;
  border: 1 solid #A3C9F0;
  background:white;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
	z-index:1;
}
/*
 * 表格中的金额输入框
 */
.inputTextTableMoney {
  behavior: expression("url("+window.prefix+"base/htc/inputText.htc)");
  position:absolute;
  border: 1 solid #A3C9F0;
  background:white;
  text-align:right;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
	z-index:1;
}

/*
 * 与tableCtn颜色一致的样式
 */
.simTableBtn {
	border-collapse:collapse;
  font-family:"宋体";
  font-size:12px;
  background-color: #F6F6F6;
  padding : 1;
  width: 100%;
}

/*
 * 表格中的CheckBox样式
 */
.inputCheckTable {
  position:absolute;
  border: 1 solid #A3C9F0;
  background:white;
  font-family:  宋体;
	font-size:    14px;
	font-weight:  normal;
	z-index:1;
}

/*
 * 页面普通按钮
 */
.pageBtn {
	/*cursor:hand;
	behavior: expression("url("+window.prefix+"base/htc/button.htc)");
	line-height:  16px;
	background-image: expression("url("+window.prefix+"images2/button/bian.png)");
	border: 1px solid #2DA0F5;
	height:19px;
	color: #FFFFFF;
	padding: 0px;
	margin: 0px;
	font-family: "宋体";
	font-size: 9pt;*/
border:1px solid #0F71B0; background:url(../default/skins/skins01/images/bu.gif) repeat-x; height:23px; line-height:21px;padding:0px 6px;color:#fff; cursor:pointer; font-size:12px; overflow:hidden; margin:5px 0;
}

/*
 * 数据导入按钮
 */
.importBtn {
	cursor:point;
	behavior: expression("url("+window.prefix+"base/htc/importButton.htc)");
	line-height:  16px;
	background-image: expression("url("+window.prefix+"images2/button/bian.png)");
	border: 1px solid #2DA0F5;
	height:19px;
	color: #FFFFFF;
	padding: 0px;
	margin: 0px;
	font-family: "宋体";
	font-size: 9pt;
}

/*
 * 没有样式的表格按钮
 */
.simpleBtn {
  cursor:hand;
  font-family:  宋体;
	font-size:    13px;
	line-height:  16px;
	border-color: #B2B2B2;
  background:   white;
  border-width: 1;
  border-style: outset ;
}
/*
 * tableCtn中按钮
 */
.tableBtn {
	cursor:hand;
	behavior: expression("url("+window.prefix+"base/htc/button.htc)");
	line-height:  16px;
	background-image: expression("url("+window.prefix+"images2/button/bian.png)");
	border: 1px solid #2DA0F5;
	height:19px;
	color: #FFFFFF;
	padding: 0px;
	margin: 0px;
	font-family: "宋体";
	font-size: 9pt;
}


/*
 * 日历
 */
.inputCalendar {
  behavior: expression("url("+window.prefix+"base/htc/calendar.htc)");
  width:90px;
  height:18px;
  border: 1 solid #838383;
  background-image:url("");
  background-repeat:no-repeat;
  background-position:right;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}
.inputYearMonth {
	behavior: expression("url("+window.prefix+"base/htc/yearmonth.htc)");
	width:140px;
	height:18px;
	border: 1 solid #C1CDC1;
	background:white;
	font-family:  宋体;
	font-size:    14px;
	font-weight:  normal;
}
/*
 * 文本域
 */
.inputTextarea {
  behavior: expression("url("+window.prefix+"base/htc/textarea.htc)");
  border: 1 solid #838383;
  background:white;
  font-family:  宋体;
	font-size:    14px;
	font-weight:  normal;
}
.vhcheckBox{
height:15px;
width:15px;
}
.inputSelectS {
  behavior: expression("url("+window.prefix+"base/htc/selects.htc)");
  width:140px;
  height:18px;
  border: 1 solid #838383;
  background-color:white;
  background-image:url("");
  background-repeat:no-repeat;
  background-position:right;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}
.inputSelectS_text {
  width:140px;
  height:18px;
  border: 0 solid #838383;
  background:white;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}
.inputSelectSa {
  behavior: expression("url("+window.prefix+"base/htc/selectsa.htc)");
  width:140px;
  height:18px;
  border: 1 solid #838383;
  background:white;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}
.inputSelectSa_text {
  width:140px;
  height:18px;
  border: 0 solid #838383;
  background:white;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}
/*
 * 单选下拉列表
 */
.inputSelect {
  behavior: expression("url("+window.prefix+"base/htc/select.htc)");
  width:140px;
  height:18px;
  border: 1 solid #838383;
  background-color:white;
  background-image:url("");
  background-repeat:no-repeat;
  background-position:right;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}
.inputSelect_text {
  width:140px;
  height:18px;
  border: 0 solid #838383;
  background:white;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}
.inputSelectm {
  behavior: expression("url("+window.prefix+"base/htc/selectm.htc)");
  width:140px;
  height:18px;
  border: 1 solid #838383;
  background-color:white;
  background-image:url("");
  background-repeat:no-repeat;
  background-position:right;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}
.inputSelectm_text {
  width:140px;
  height:18px;
  border: 0 solid #838383;
  background:white;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}
.inputSelectans {
  behavior: expression("url("+window.prefix+"base/htc/selecta.htc)");
  width:140px;
  height:18px;
  border: 1 solid #838383;
  background:white;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}
.inputSelectans_text {
  width:140px;
  height:18px;
  border: 0 solid #838383;
  background:white;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}
/*
 * 单选下拉列表中展示列样式
 */
.select_list {
	position:absolute;
	z-index:10;
	border:1px solid #7B9EBD;
	height:100;
	overflow-x:auto;
	overflow-y:auto;
	background-color:#ffffff;
}

/*
 * VML 图象
 */
v\:* {
	behavior:url(#default#VML);
}

/*
 * 一维容器
 */
.lineCtn {
  behavior: expression("url("+window.prefix+"base/htc/lineCtn.htc)");
  font-family:  宋体;
	font-size:    14px;
	font-weight:  normal;
	width: 96%;
	margin:5px 1%;
	line-height:30px;
 background:url(../default/skins/skins01/images/search_bg.gif) repeat-x left bottom;}

}

/*
 * 二维容器
 */
.tableCtn {
  behavior: expression("url("+window.prefix+"base/htc/tableCtn.htc)");
  font: normal 12px 宋体;
  width: 100%;
  margin:0;
}
.tableCtna {
  behavior: expression("url("+window.prefix+"base/htc/tableCtn.htc)");
  font: normal 12px 宋体;
  width: 100%;
  margin:0;
}
.tableCtna_use {
  behavior: expression("url("+window.prefix+"base/htc/tableCtna.htc)");
  font: normal 12px 宋体;
  width: 100%;
  margin:0;
  border:0;
  
}

/*
 * 二维容器修改版
 */
.tableExCtn {
  behavior: expression("url("+window.prefix+"base/htc/tableExCtn.htc)");
  font: normal 12px 宋体;
  width: 100%;
  margin:0;
}

.AxTableCtn {
	behavior: expression("url("+window.prefix+"base/htc/axTableCtn.htc)");
  font: normal 12px 宋体;
  margin:0;
  width: 100%;
  border:1px solid #eeeeee;
  padding:0;
  background-color:#eeeeee;
}
.treeTableCtn {
  behavior: expression("url("+window.prefix+"base/htc/treeTableCtn.htc)");
  font: normal 12px 宋体;
  width: 100%;
  margin:0;
  overflow:auto;
  border:1px solid #eeeeee;
  padding:0;
  SCROLLBAR-FACE-COLOR: #F2F2F2;
  SCROLLBAR-HIGHLIGHT-COLOR: #999999;
  SCROLLBAR-SHADOW-COLOR:#999999;
  SCROLLBAR-3DLIGHT-COLOR:#ffffff;
  SCROLLBAR-ARROW-COLOR:#999999;
  SCROLLBAR-TRACK-COLOR:#ffffff;
  SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
}
.sTreeCtn{
	behavior: expression("url("+window.prefix+"base/htc/stree.htc)");
}
.dTreeCtn{
	behavior: expression("url("+window.prefix+"base/htc/dtree.htc)");
}
.treeTitle{
	behavior: expression("url("+window.prefix+"base/htc/treeTitle.htc)");
}
.treeDivCtn {
  font: normal 12px 宋体;
  margin:0;
  width: 100%;
  height:100%;
  overflow:auto;
  border:1px solid #dddddd;
  padding:0;
  background-color:#eeeeee;
  SCROLLBAR-FACE-COLOR: #F2F2F2;
  SCROLLBAR-HIGHLIGHT-COLOR: #999999;
  SCROLLBAR-SHADOW-COLOR:#999999;
  SCROLLBAR-3DLIGHT-COLOR:#ffffff;
  SCROLLBAR-ARROW-COLOR:#999999;
  SCROLLBAR-TRACK-COLOR:#ffffff;
  SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
}
.editDivCtn {
  font: normal 12px 宋体;
  margin:0;
  width: 100%;
  height:100%;
  overflow:auto;
  border:1px solid #eeeeee;
  padding:0;
  SCROLLBAR-FACE-COLOR: #F2F2F2;
  SCROLLBAR-HIGHLIGHT-COLOR: #999999;
  SCROLLBAR-SHADOW-COLOR:#999999;
  SCROLLBAR-3DLIGHT-COLOR:#ffffff;
  SCROLLBAR-ARROW-COLOR:#999999;
  SCROLLBAR-TRACK-COLOR:#ffffff;
  SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
}
.findCtn{
  behavior: expression("url("+window.prefix+"base/htc/findCtn.htc)");
  width:140px;
  height:18px;
  border: 1 solid #838383;
  background:white;
}
/*
 * tableCtn中的表格标题，居中
 */
.tableTitle {
  font-family:"宋体"; font-size:15px;font-weight:bold; text-decoration:none; color:#0066cc;
  width:100%;
  text-align:center;
  vertical-align:bottom;
  margin-bottom:10;
}

/*
 * 式表中金额列显示样式
 */
.moneyCol {
  width:105px
}

/*
 * 样式表中table样式
 */
.mainTable {
  border-collapse:collapse;
  font-family:"宋体";
  font-size:12px;
  background-color: white;
  padding : 1;
  width: 100%;
}

/*
 * 样式表中thead中文表头样式
 */
.mainHead {
	border-collapse:collapse;
	font-family:"宋体";
	font-size:    12px;
	color:#000;
	/*text-decoration:none;
	background:#FFDDA6;
	CELLSPACING : 0;
	vertical-align:bottom;*/
	text-align:center;
	width:100%;
	/*height:23;
	background-color:#FCB724;*/
	background:url(../default/skins/skins01/images/th_bg.gif) repeat; height:24px; line-height:24px;overflow:hidden
}
.mainHead th{border:1px solid #999; height:24px; line-height:24px;color:#000; overflow:hidden}
thead{ border:0px;}
.mainHeadB {
	font-weight: bold;
	border-collapse:collapse;
	font-family:"宋体";
	color:#472300;
	text-decoration:none;
	background-color:#FCB724;
}
/*
 * 样式表中table的背景
 */
 .a2 {
	background-image: url(images2/image/背景.png);
	background-repeat: repeat-x;
}

/*
 * 多选下拉列表
 */
.inputMultiSelect {
  behavior: expression("url("+window.prefix+"base/htc/multiSelect.htc)");
  position:absolute;
  z-index:0;
  width:140px;
  height:18px;
  border: 1 solid #838383;
  background:white;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}
.inputMultiSelect2 {
  behavior: expression("url("+window.prefix+"base/htc/MultiSelectV2.htc)");
  position:absolute;
  z-index:0;
  width:140px;
  height:18px;
  border: 1 solid #838383;
  background:white;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}
.inputMultiSelectm {
  behavior: expression("url("+window.prefix+"base/htc/multiSelectm.htc)");
  position:absolute;
  z-index:0;
  width:140px;
  height:18px;
  border: 1 solid #838383;
  background:white;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}
.inputMultiSelectStyle {
	height:18px;
	border: 1 solid #838383;
	background:white;
	font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
	font: normal 12px 宋体;
	width: 100%;
	margin:0;
	overflow:auto;
	padding:0;
	SCROLLBAR-FACE-COLOR: #F2F2F2;
	SCROLLBAR-HIGHLIGHT-COLOR: #999999;
	SCROLLBAR-SHADOW-COLOR:#999999;
	SCROLLBAR-3DLIGHT-COLOR:#ffffff;
	SCROLLBAR-ARROW-COLOR:#999999;
	SCROLLBAR-TRACK-COLOR:#ffffff;
	SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
}
/*
 * 多选双下拉列表
 */
.inputDoubleMultiSelect {
  behavior: expression("url("+window.prefix+"base/htc/doubleMultiSelect.htc)");
  position:absolute;
  z-index:0;
  width:140px;
  height:18px;
  border: 1 solid #838383;
  background:white;
  font-family:  宋体;
	font-size:    14px;
	font-weight:  normal;
}

/*
 * radio选择
 */
.inputRadio {
  behavior: expression("url("+window.prefix+"base/htc/inputRadio.htc)");
  width:140px;
  height:18px;
  border: 1 solid #838383;
  background:white;
  font-family:  宋体;
  font-size:    12px;
  font-weight:  normal;
}

/*
 * checkBox选择框
 */
.inputCheckBox {
  behavior: expression("url("+window.prefix+"base/htc/inputCheckBox.htc)");
  width:140px;
  height:18px;
  border: 1 solid #838383;
  background:white;
  font-family:  宋体;
  font-size:    12px;
  font-weight:  normal;
}

/*
 * 页签
 */
.tag {
  behavior: expression("url("+window.prefix+"base/htc/tag.htc)");
}
vh\:tag {
  behavior: expression("url("+window.prefix+"base/htc/tag_ext.htc)");
}
vh\:tagPage {

}
.tag_Card_UnSelected
{
  position:absolute;
  cursor:hand;
  font:menu;
  text-align:center;
  top:4;
  border-left:inset 2 ;
  border-right:inset 2 ;
}
.tag_Card_Selected
{
  position:absolute;
  cursor:hand;
  font:caption;
  height:26;
  text-align:center;
  top:4;
  border-left:inset 2 ;
  border-right:inset 2 ;
}
.tag_hidden
{
  position:relative;
  display:none;
}
.tag_visable
{
	position:relative;
	display:block;
}
.tag_Position
{
	position:absolute;
}
.tag_Page_Div
{
  border:3 outset menu;
	position:relative;
	display:block;
}

/*
 * 柱图、饼图、折线图公共组件
 */
vh\:cmm{
  behavior: expression("url("+window.prefix+"base/htc/common.htc)");
}

/*
 * 折线图组件
 */
vh\:pl{
	behavior: expression("url("+window.prefix+"base/htc/myPolyline.htc)");
  position: absolute;
	z-index: 0;
	display: block;
	cursor: default;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	visibility: visible;
}
.hbos_pl_containerDiv {
	/* 折线图组件容器 */
	position: absolute;
	z-index: 1;
	border: solid 0px red;
}

/*
 * 饼图组件
 */
vh\:cs {
  behavior: expression("url("+window.prefix+"base/htc/cakyStat.htc)");
  position: absolute;
	z-index: 0;
	display: block;
	cursor: default;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	visibility: visible;
}
.hbos_cs_containerDiv {
	/* 饼图组件容器 */
	position: absolute;
	z-index: 1;
	border: solid 0px red;
}

/*
 * 柱图组件
 */
vh\:ps {
  behavior: expression("url("+window.prefix+"base/htc/pillarStat.htc)");
  position: absolute;
	z-index: 0;
	display: block;
	cursor: default;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	visibility: visible;
}
.hbos_ps_containerDiv {
	/* 柱图组件容器 */
	position: absolute;
	z-index: 1;
	border: solid 0px red;
}
.hbos_ps_errorInfoSpan {
	/* 出错信息 */
	position: absolute;
	font-size: 9pt;
	z-index: 1;
	border: solid 0px red;
}

/*
 * 柱图组件
 */
vh\:pgs {
  behavior: expression("url("+window.prefix+"base/htc/pillarGroupStat.htc)");
  position: absolute;
	z-index: 0;
	display: block;
	cursor: default;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	visibility: visible;
}
.hbos_pgs_containerDiv {
	/* 柱图组件容器 */
	position: absolute;
	z-index: 1;
	border: solid 0px red;
}
.hbos_pgs_errorInfoSpan {
	/* 出错信息 */
	position: absolute;
	font-size: 9pt;
	z-index: 1;
	border: solid 0px red;
}

/**
 * 主辅表样式   multi main detail
 */
.MDCtn {
  behavior: expression("url("+window.prefix+"base/behaviors/MDCtn.htc)");
}
.MDCtn_new {
  behavior: expression("url("+window.prefix+"base/behaviors/MDCtn_activex.htc)");
}

.mainCtn {
  font-family:  宋体;
	font-size:    14px;
	font-weight:  normal;
	width: 96%;
	margin:12px 2%;
	line-height:30px;
}

.detailCtn {
  font: normal 12px 宋体;
  width: 100%;
  margin:2%;
}

.btnCtn {
  width:100%
}

.inputSelect_report {
  behavior: expression("url("+window.prefix+"base/htc/select_report.htc)");
  width:140px;
  height:18px;
  border: 1 solid #838383;
  background-color:white;
  background-image:url("");
  background-repeat:no-repeat;
  background-position:right;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}

.inputSelect_report_text {
  width:140px;
  height:18px;
  border: 0 solid #838383;
  background:white;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}
.inputSelects_report {
  behavior: expression("url("+window.prefix+"base/htc/selects_report.htc)");
  width:140px;
  height:18px;
  border: 1 solid #838383;
  background-color:white;
  background-image:url("");
  background-repeat:no-repeat;
  background-position:right;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}

.inputMultiSelect_report {
	 behavior: expression("url("+window.prefix+"base/htc/doubleMultiSelect_report.htc)");
	 position:absolute;
	 z-index:0;
	 width:140px;
	 height:18px;
	 border: 1 solid black;
	 background:white;
	 font-family:  宋体;
	 font-size:    12px;
	 font-weight:  normal;
}

.inputSelects_report_text {
  width:140px;
  height:18px;
  border: 0 solid #838383;
  background:white;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}

.numberText{font-family: "宋体";text-decoration: none;color: #000000;text-align:right}
.normalText{font-family: "宋体";text-decoration: none;color: #000000;text-align:left}
.centerText{font-family: "宋体";text-decoration: none;color: #000000;text-align:center}
vh\:treeCheck
{
  behavior: expression("url("+window.prefix+"base/behaviors/treeCheck.htc)");
}

.style8{
  color: #094F02;font: bold 14px 宋体;
}

.x1 {
	font-weight: bold;
}

.x2 {
	border:1px solid #000000;
	cellpadding:0;
	cellspacing:0;
	font-size:    14px;
	font-weight:  normal;
	margin:5px 1%;
	line-height:30px;
}
.a {
	border: 0px solid #000000;
}
.a1{
	font-size: 12px;
	font-weight: bold;
	color: #3766AC;
}

/*************************
 * SingleFlow
 *************************/
.SingleFlow{
	  behavior: url(/base/htc/SingleFlow.htc);
}

 .graphButton   {
  background-image:expression("url("+window.prefix+"base/themes/blue/images2/graphButton.png)");
  background-color:#ffffff;
  height:24px;
  width:60px
  font-size:12px;
  border:0px   solid   #ffffff
  }


/*
 * 一维容器
 */
.additiveItemsCtn {
  behavior: expression("url("+window.prefix+"base/htc/additiveItemsCtn.htc)");
  font-family:  宋体;
	font-size:    14px;
	font-weight:  normal;
	width: 96%;
	margin:5px 1%;
	line-height:30px;
}
.tabCell{
	white-space: nowrap;/*border-top-color: #FFFFFF;border-left-color: #FFFFFF;border-right-color: #000000;border-bottom-color: #000000;border-width:1px;border-style:solid;*/
}
.tabCellNN{
	white-space: nowrap;/*border-top-color: #FFFFFF;border-left-color: #FFFFFF;border-right-color: #000000;border-bottom-color: #000000;border-width:1px;border-style:solid;*/
}
.tabCellNL{
	white-space: nowrap;/*border-top-color: #FFFFFF;border-left-color: #FFFFFF;border-right-color: #000000;border-bottom-color: #000000;border-width:1px;border-style:solid;*/
	position:relative;z-index:10;background-color:#FCB724;left:expression(this.parentNode.parentNode.parentNode.parentNode.scrollLeft);
}
.tabCellNT{
	white-space: nowrap;/*border-top-color: #FFFFFF;border-left-color: #FFFFFF;border-right-color: #000000;border-bottom-color: #000000;border-width:1px;border-style:solid;*/
	position:relative;z-index:20;background-color:#FCB724;top:expression(this.parentNode.parentNode.parentNode.parentNode.scrollTop);
}
.tabCellNC{
	white-space: nowrap;/*border-top-color: #FFFFFF;border-left-color: #FFFFFF;border-right-color: #000000;border-bottom-color: #000000;border-width:1px;border-style:solid;*/
	position:relative;z-index:30;background-color:#FCB724;left:expression(this.parentNode.parentNode.parentNode.parentNode.scrollLeft);top:expression(this.parentNode.parentNode.parentNode.parentNode.scrollTop);
}
.tabCellTN{
	white-space: nowrap;/*border-top-color: #FFFFFF;border-left-color: #FFFFFF;border-right-color: #000000;border-bottom-color: #000000;border-width:1px;border-style:solid;
	border-top-color: #000000;*/
}
.tabCellTL{
	white-space: nowrap;/*border-top-color: #FFFFFF;border-left-color: #FFFFFF;border-right-color: #000000;border-bottom-color: #000000;border-width:1px;border-style:solid;*/
	position:relative;z-index:10;background-color:#FCB724;left:expression(this.parentNode.parentNode.parentNode.parentNode.scrollLeft);
	/*border-top-color: #000000;*/
}
.tabCellTT{
	white-space: nowrap;/*border-top-color: #FFFFFF;border-left-color: #FFFFFF;border-right-color: #000000;border-bottom-color: #000000;border-width:1px;border-style:solid;*/
	position:relative;z-index:20;background-color:#FCB724;top:expression(this.parentNode.parentNode.parentNode.parentNode.scrollTop);
	/*border-top-color: #000000;*/
}
.tabCellTC{
	white-space: nowrap;/*border-top-color: #FFFFFF;border-left-color: #FFFFFF;border-right-color: #000000;border-bottom-color: #000000;border-width:1px;border-style:solid;*/
	position:relative;z-index:30;background-color:#FCB724;left:expression(this.parentNode.parentNode.parentNode.parentNode.scrollLeft);top:expression(this.parentNode.parentNode.parentNode.parentNode.scrollTop);
	/*border-top-color: #000000;*/

}
.tabCellLN{
	white-space: nowrap;/*border-top-color: #FFFFFF;border-left-color: #FFFFFF;border-right-color: #000000;border-bottom-color: #000000;border-width:1px;border-style:solid;
	border-left-color: #000000;*/
}
.tabCellLL{
	white-space: nowrap;/*border-top-color: #FFFFFF;border-left-color: #FFFFFF;border-right-color: #000000;border-bottom-color: #000000;border-width:1px;border-style:solid;*/
	position:relative;z-index:10;background-color:#FCB724;left:expression(this.parentNode.parentNode.parentNode.parentNode.scrollLeft);
	/*border-left-color: #000000;*/

}
.tabCellLT{
	white-space: nowrap;/*border-top-color: #FFFFFF;border-left-color: #FFFFFF;border-right-color: #000000;border-bottom-color: #000000;border-width:1px;border-style:solid;*/
	position:relative;z-index:20;background-color:#FCB724;top:expression(this.parentNode.parentNode.parentNode.parentNode.scrollTop);
	/*border-left-color: #000000;*/

}
.tabCellLC{
	white-space: nowrap;/*border-top-color: #FFFFFF;border-left-color: #FFFFFF;border-right-color: #000000;border-bottom-color: #000000;border-width:1px;border-style:solid;*/
	position:relative;z-index:30;background-color:#FCB724;left:expression(this.parentNode.parentNode.parentNode.parentNode.scrollLeft);top:expression(this.parentNode.parentNode.parentNode.parentNode.scrollTop);
	/*border-left-color: #000000;*/

}
.tabCellCN{
	white-space: nowrap;/*border-top-color: #FFFFFF;border-left-color: #FFFFFF;border-right-color: #000000;border-bottom-color: #000000;border-width:1px;border-style:solid;
	border-top-color: #000000;border-left-color: #000000;*/
}
.tabCellCL{
	white-space: nowrap;/*border-top-color: #FFFFFF;border-left-color: #FFFFFF;border-right-color: #000000;border-bottom-color: #000000;border-width:1px;border-style:solid;*/
	position:relative;z-index:10;background-color:#FCB724;left:expression(this.parentNode.parentNode.parentNode.parentNode.scrollLeft);
	/*border-top-color: #000000;border-left-color: #000000;*/

}
.tabCellCT{
	white-space: nowrap;/*border-top-color: #FFFFFF;border-left-color: #FFFFFF;border-right-color: #000000;border-bottom-color: #000000;border-width:1px;border-style:solid;*/
	position:relative;z-index:20;background-color:#FCB724;top:expression(this.parentNode.parentNode.parentNode.parentNode.scrollTop);
	/*border-top-color: #000000;border-left-color: #000000;*/

}
.tabCellCC{
	white-space: nowrap;/*border-top-color: #FFFFFF;border-left-color: #FFFFFF;border-right-color: #000000;border-bottom-color: #000000;border-width:1px;border-style:solid;*/
	position:relative;z-index:30;background-color:#FCB724;left:expression(this.parentNode.parentNode.parentNode.parentNode.scrollLeft);top:expression(this.parentNode.parentNode.parentNode.parentNode.scrollTop);
	/*border-top-color: #000000;border-left-color: #000000;*/

}
vh\:plb{
	behavior:expression("url("+window.prefix+"vh/base/htc/myPolylineb.htc)");
	position:absolute;
	z-index:1;
	display:block;
	visibility:hidden;
	border:0px solid #666666;
}

/*
 * 二维容器 会计账簿使用  whq added on 2009-03-01
 */
.tableCtn_acctBook {
  behavior: expression("url("+window.prefix+"base/htc/tableCtn_acctBook.htc)");
  font: normal 12px 宋体;
  width: 100%;
  margin:0;
}
.listTable{border:1px solid #999; border-collapse:collapse}
.listTable td{border:1px solid #999;}

