/*
 * 页面样式总体定义
 */
*{ margin:0px auto; padding:0;}
body { background-color: #FFFFFF;
	border: inset 0px;
	margin: 0px;
	font-size:12px;
	overflow:hidden;
	font-size:12px;
	font-family:  微软雅黑;
}
td {
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}
th {
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}
div {
  SCROLLBAR-FACE-COLOR: #ffffff; SCROLLBAR-HIGHLIGHT-COLOR: #A7CCF4;
  SCROLLBAR-SHADOW-COLOR:#A7CCF4; SCROLLBAR-3DLIGHT-COLOR:#ffffff;
  SCROLLBAR-ARROW-COLOR:#A7CCF4; SCROLLBAR-TRACK-COLOR:#ffffff;
  SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
}

/*
 * BODY样式
 */
.subBody
{
  background-color: #FFFFFF;
	border: inset 0px;
	margin: 0px 0px 0px 0px;
	
	overflow: hidden;
}

/*
 * 标题头样式，左上角、深兰色
 */
.titleHeader {
  	display:none; height:30px; line-height:30px;
}

/*
 * 第二个标题头样式，一根线
 */
.funcHeader {
	font-family: 宋体;
	font-size: 12px;
	font-weight: 700;
	color:#009;
	padding: 0px 0px 0px 0px;

  background-image:url("images/10.png");
  background:#eaf1fb; height:24px;line-height:24px;
}

/*
 * 3类普通输入框样式
 */
.inputTextA {
  height:18px;
  border: 1 solid #999;
  background:white;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}
.inputTextF {
  height:18px;
  border: 1 solid #999;
  background:white;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}
.inputTextS {
  width:140px;
  height:18px;
  border: 1 solid #999;
  background:white;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}
.inputTextS_text {
  width:140px;
  height:18px;
  border: 0 solid #999;
  background:white;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}
.commonInputStyle {
  height:18px;
  border: 1 solid #999;
  background:white;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}
.commonInputStyle_dropdown {
  height:18px;
  border: 1 solid #999;
  background:white;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
	background-color:white;
  background-image:url("");
  background-repeat:no-repeat;
  background-position:right;
}
.inputInteger {
  height:18px;
  border: 1 solid #999;
  background:white;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}
.inputDecimal {
  height:18px;
  border: 1 solid #999;
  background:white;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}
.inputFDecimal{
  height:18px;
  border: 1 solid #999;
  background:white;
  font-family:  宋体;
font-size:    14px;
font-weight:  normal;
text-align:right;
}
/*
 * 表格中的输入框
 */
.inputTextTable {
  position:absolute;
  border: 1 solid #A3C9F0;
  background:white;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
	z-index:1;
}
/*
 * 表格中的金额输入框
 */
.inputTextTableMoney {
  position:absolute;
  border: 1 solid #A3C9F0;
  background:white;
  text-align:right;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
	z-index:1;
}

/*
 * 与tableCtn颜色一致的样式
 */
.simTableBtn {
	border-collapse:collapse;
  font-family:"宋体";
  font-size:12px;
  background-color: #F6F6F6;
  padding : 1;
  width: 100%;
}

/*
 * 表格中的CheckBox样式
 */
.inputCheckTable {
  position:absolute;
  border: 1 solid #A3C9F0;
  background:white;
  font-family:  宋体;
	font-size:    14px;
	font-weight:  normal;
	z-index:1;
}

/*
 * 页面普通按钮
 */
.pageBtn {
border:1px solid #0F71B0; background:url(../default/skins/skins01/images/bu.gif) repeat-x; height:23px; line-height:21px;padding:0px 0px; text-align:center;color:#fff; cursor:pointer; font-size:12px; overflow:hidden; margin:5px 0;
}

/*
 * 数据导入按钮
 */
.importBtn {
	cursor:point;
	line-height:  16px;
	background-image: expression("url("+window.rootPath+"images2/button/bian.png)");
	border: 1px solid #2DA0F5;
	height:19px;
	color: #FFFFFF;
	padding: 0px;
	margin: 0px;
	font-family: "宋体";
	font-size: 9pt;
}

/*
 * 没有样式的表格按钮
 */
.simpleBtn {
  cursor:hand;
  font-family:  宋体;
	font-size:    13px;
	line-height:  16px;
	border-color: #B2B2B2;
  background:   white;
  border-width: 1;
  border-style: outset ;
}
/*
 * tableCtn中按钮
 */
.tableBtn { 
 border:1px solid #0175B0;background:url(../default/skins/skins01/images/btn.gif) repeat-x;height:23px; line-height:21px;padding:0px 2px; text-align:center;color:#fff; cursor:pointer; font-size:12px; margin:5px 0; overflow:hidden
}


/*
 * 日历
 */
.inputCalendar {
  width:90px;
  height:18px;
  border: 1 solid #999;
  background-image:url("");
  background-repeat:no-repeat;
  background-position:right;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}
.inputYearMonth {
	width:140px;
	height:18px;
	border: 1 solid #C1CDC1;
	background:white;
	font-family:  宋体;
	font-size:    14px;
	font-weight:  normal;
}
/*
 * 文本域
 */
.inputTextarea {
  border: 1 solid #999;
  background:white;
  font-family:  宋体;
	font-size:    14px;
	font-weight:  normal;
}
.vhcheckBox{
height:15px;
width:15px;
}
.inputSelectS {
  width:140px;
  height:18px;
  border: 1 solid #999;
  background-color:white;
  background-image:url("");
  background-repeat:no-repeat;
  background-position:right;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}
.inputSelectS_text {
  width:140px;
  height:18px;
  border: 0 solid #999;
  background:white;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}
.inputSelectSa {
  width:140px;
  height:18px;
  border: 1 solid #999;
  background:white;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}
.inputSelectSa_text {
  width:140px;
  height:18px;
  border: 0 solid #999;
  background:white;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}
/*
 * 单选下拉列表
 */
.inputSelect {
  width:140px;
  height:18px;
  border: 1 solid #999;
  background-color:white;
  background-image:url("");
  background-repeat:no-repeat;
  background-position:right;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}
.inputSelect_text {
  width:140px;
  height:18px;
  border: 0 solid #999;
  background:white;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}
.inputSelectm {
  width:140px;
  height:18px;
  border: 1 solid #999;
  background-color:white;
  background-image:url("");
  background-repeat:no-repeat;
  background-position:right;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}
.inputSelectm_text {
  width:140px;
  height:18px;
  border: 0 solid #999;
  background:white;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}
.inputSelectans {
  width:140px;
  height:18px;
  border: 1 solid #999;
  background:white;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}
.inputSelectans_text {
  width:140px;
  height:18px;
  border: 0 solid #999;
  background:white;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}
/*
 * 单选下拉列表中展示列样式
 */
.select_list {
	position:absolute;
	z-index:10;
	border:1px solid #7B9EBD;
	height:100;
	overflow-x:auto;
	overflow-y:auto;
	background-color:#ffffff;
}

/*
 * VML 图象
 */
v\:* {
	behavior:url(#default#VML);
}

/*
 * 一维容器
 */
.lineCtn {
  font-family:  宋体;
	font-size:    14px;
	font-weight:  normal;
	width: 100%;
	/*margin:5px 1%;*/
	line-height:30px;
 background:url(../default/skins/skins01/images/search_bg.gif) repeat-x left bottom;}
.lineCtn td{text-indent:5px; white-space:nowrap}

.formCtn {
  font-family:  宋体;
	font-size:    14px;
	font-weight:  normal;
	width: 100%;
	/*margin:5px 1%;*/
	line-height:20px;
 }
/*
 * 二维容器
 */
.tableCtn {
  font: normal 12px 宋体;
  width: 100%;
  margin-top:5px;line-height:24px;
}
/*.tableCtn th{ border:1px solid #999; height:25px;background:url(../default/skins/skins01/images/th_bg.gif) repeat-x}*/
.tableCtna {
  font: normal 12px 宋体;
  width: 100%;
  margin:0;
}
.tableCtna_use {
  font: normal 12px 宋体;
  width: 100%;
  margin:0;
}

/*
 * 二维容器修改版
 */
.tableExCtn {
  font: normal 12px 宋体;
  width: 100%;
  margin:0;
}

.AxTableCtn {
  font: normal 12px 宋体;
  margin:0;
  width: 100%;
  border:1px solid #eeeeee;
  padding:0;
  background-color:#eeeeee;
}
.treeTableCtn {
  font: normal 12px 宋体;
  width: 100%;
  margin:0;
  overflow:auto;
  border:1px solid #eeeeee;
  padding:0;
  SCROLLBAR-FACE-COLOR: #F2F2F2;
  SCROLLBAR-HIGHLIGHT-COLOR: #999999;
  SCROLLBAR-SHADOW-COLOR:#999999;
  SCROLLBAR-3DLIGHT-COLOR:#ffffff;
  SCROLLBAR-ARROW-COLOR:#999999;
  SCROLLBAR-TRACK-COLOR:#ffffff;
  SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
}
.sTreeCtn{
}
.dTreeCtn{
}
.treeTitle{
}
.treeDivCtn {
  font: normal 12px 宋体;
  margin:0;
  width: 100%;
  height:100%;
  overflow:auto;
  border:1px solid #dddddd;
  padding:0;
  background-color:#eeeeee;
  SCROLLBAR-FACE-COLOR: #F2F2F2;
  SCROLLBAR-HIGHLIGHT-COLOR: #999999;
  SCROLLBAR-SHADOW-COLOR:#999999;
  SCROLLBAR-3DLIGHT-COLOR:#ffffff;
  SCROLLBAR-ARROW-COLOR:#999999;
  SCROLLBAR-TRACK-COLOR:#ffffff;
  SCROLLBAR-DARKSHADOW-COLOR: #ffffff; margin-top:5px; padding:5px;
}
.editDivCtn {
  font: normal 12px 宋体;
  margin:0;
  width: 100%;
  height:100%;
  overflow:auto;
  border:1px solid #eeeeee;
  padding:0;
  SCROLLBAR-FACE-COLOR: #F2F2F2;
  SCROLLBAR-HIGHLIGHT-COLOR: #999999;
  SCROLLBAR-SHADOW-COLOR:#999999;
  SCROLLBAR-3DLIGHT-COLOR:#ffffff;
  SCROLLBAR-ARROW-COLOR:#999999;
  SCROLLBAR-TRACK-COLOR:#ffffff;
  SCROLLBAR-DARKSHADOW-COLOR: #ffffff; margin-top:5px;
}
.findCtn{
  width:140px;
  height:18px;
  border: 1 solid #999;
  background:white;
  font-size:12px;
}
/*
 * tableCtn中的表格标题，居中
 */
.tableTitle {
  font-family:"宋体"; font-size:16px;font-weight:bold; color:#0066cc;
  width:100%;
  text-align:center;
  vertical-align:bottom;
  margin:10px auto;;
}

/*
 * 式表中金额列显示样式
 */
.moneyCol {
  width:105px
}

/*
 * 样式表中table样式
 */
.mainTable {
  border-collapse:collapse;
  font-family:"宋体";
  font-size:12px;
  width: 100%;
  line-height:24px;
  border:1px solid #999;
}
.mainTable td{ border:1px solid #999; line-height:24px; padding:0 2px; white-space:nowrap;max-width: 200px; overflow: hidden; }
.mainTable th{ border:1px solid #999; height:24px; line-height:24px; padding:0 2px; white-space:nowrap;}

/*
 * 样式表中thead中文表头样式
 */
.Mainhead{
	background:url(../default/skins/skins01/images/th_bg.gif) repeat; text-align:center;
	height:24px;line-height:24px; white-space:nowrap;
}
.mainHead th{height:24px; white-space:nowrap;}
/*0802修改*/
#tableHeadTr{ border:0px solid #999;}
#tableHeadTr td{
	border:0px solid #999; line-height:24px;
}
.mainHeadB {
	font-weight: bold;
	border-collapse:collapse;
	font-family:"宋体";
	color:#472300;
	text-decoration:none;
	background-color:#FCB724;
}
/*
 * 样式表中table的背景
 */
 .a2 {
	background-image: url(images2/image/背景.png);
	background-repeat: repeat-x;
}

/*
 * 多选下拉列表
 */
.inputMultiSelect {
  position:absolute;
  z-index:0;
  width:140px;
  height:18px;
  border: 1 solid #999;
  background:white;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}
.inputMultiSelect2 {
  position:absolute;
  z-index:0;
  width:140px;
  height:18px;
  border: 1 solid #999;
  background:white;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}
.inputMultiSelectm {
  position:absolute;
  z-index:0;
  width:140px;
  height:18px;
  border: 1 solid #999;
  background:white;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}
.inputMultiSelectStyle {
	height:18px;
	border: 1 solid #999;
	background:white;
	font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
	font: normal 12px 宋体;
	width: 100%;
	margin:0;
	overflow:auto;
	padding:0;
	SCROLLBAR-FACE-COLOR: #F2F2F2;
	SCROLLBAR-HIGHLIGHT-COLOR: #999999;
	SCROLLBAR-SHADOW-COLOR:#999999;
	SCROLLBAR-3DLIGHT-COLOR:#ffffff;
	SCROLLBAR-ARROW-COLOR:#999999;
	SCROLLBAR-TRACK-COLOR:#ffffff;
	SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
}
/*
 * 多选双下拉列表
 */
.inputDoubleMultiSelect {
  position:absolute;
  z-index:0;
  width:140px;
  height:18px;
  border: 1 solid #999;
  background:white;
  font-family:  宋体;
	font-size:    14px;
	font-weight:  normal;
}

/*
 * radio选择
 */
.inputRadio {
  width:140px;
  height:18px;
  border: 1 solid #999;
  background:white;
  font-family:  宋体;
  font-size:    12px;
  font-weight:  normal;
}

/*
 * checkBox选择框
 */
.inputCheckBox {
  width:140px;
  height:18px;
  border: 1 solid #999;
  background:white;
  font-family:  宋体;
  font-size:    12px;
  font-weight:  normal;
}

/*
 * 页签
 */
.tag {
}
vh\:tag {
}
vh\:tagPage {

}
.tag_Card_UnSelected
{
  position:absolute;
  cursor:hand;
  font:menu;
  text-align:center;
  top:4;
  border-left:inset 2 ;
  border-right:inset 2 ;
}
.tag_Card_Selected
{
  position:absolute;
  cursor:hand;
  font:caption;
  height:26;
  text-align:center;
  top:4;
  border-left:inset 2 ;
  border-right:inset 2 ;
}
.tag_hidden
{
  position:relative;
  display:none;
}
.tag_visable
{
	position:relative;
	display:block;
}
.tag_Position
{
	position:absolute;
}
.tag_Page_Div
{
  border:3 outset menu;
	position:relative;
	display:block;
}

/*
 * 柱图、饼图、折线图公共组件
 */
vh\:cmm{
  
}

/*
 * 折线图组件
 */
vh\:pl{
  position: absolute;
	z-index: 0;
	display: block;
	cursor: default;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	visibility: visible;
}
.hbos_pl_containerDiv {
	/* 折线图组件容器 */
	position: absolute;
	z-index: 1;
	border: solid 0px red;
}

/*
 * 饼图组件
 */
vh\:cs {
  position: absolute;
	z-index: 0;
	display: block;
	cursor: default;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	visibility: visible;
}
.hbos_cs_containerDiv {
	/* 饼图组件容器 */
	position: absolute;
	z-index: 1;
	border: solid 0px red;
}

/*
 * 柱图组件
 */
vh\:ps {
  position: absolute;
	z-index: 0;
	display: block;
	cursor: default;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	visibility: visible;
}
.hbos_ps_containerDiv {
	/* 柱图组件容器 */
	position: absolute;
	z-index: 1;
	border: solid 0px red;
}
.hbos_ps_errorInfoSpan {
	/* 出错信息 */
	position: absolute;
	font-size: 9pt;
	z-index: 1;
	border: solid 0px red;
}

/*
 * 柱图组件
 */
vh\:pgs {
  position: absolute;
	z-index: 0;
	display: block;
	cursor: default;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	visibility: visible;
}
.hbos_pgs_containerDiv {
	/* 柱图组件容器 */
	position: absolute;
	z-index: 1;
	border: solid 0px red;
}
.hbos_pgs_errorInfoSpan {
	/* 出错信息 */
	position: absolute;
	font-size: 9pt;
	z-index: 1;
	border: solid 0px red;
}

/**
 * 主辅表样式   multi main detail
 */
.MDCtn {
}
.MDCtn_new {
}

.mainCtn {
  font-family:  宋体;
	font-size:    14px;
	font-weight:  normal;
	/*width: 96%;
	margin:12px 2%;*/
	line-height:30px; width:100%;
}

.detailCtn {
  font: normal 12px 宋体;
  width: 100%;
  /*margin:2%;*/
}

.btnCtn {
  width:100%
}

.inputSelect_report {
  width:140px;
  height:18px;
  border: 1 solid #999;
  background-color:white;
  background-image:url("");
  background-repeat:no-repeat;
  background-position:right;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}

.inputSelect_report_text {
  width:140px;
  height:18px;
  border: 0 solid #999;
  background:white;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}
.inputSelects_report {
  width:140px;
  height:18px;
  border: 1 solid #999;
  background-color:white;
  background-image:url("");
  background-repeat:no-repeat;
  background-position:right;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}

.inputMultiSelect_report {
	 position:absolute;
	 z-index:0;
	 width:140px;
	 height:18px;
	 border: 1 solid black;
	 background:white;
	 font-family:  宋体;
	 font-size:    12px;
	 font-weight:  normal;
}

.inputSelects_report_text {
  width:140px;
  height:18px;
  border: 0 solid #999;
  background:white;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}

.numberText{font-family: "宋体";text-decoration: none;color: #000000;text-align:right;}
.normalText{font-family: "宋体";text-decoration: none;color: #000000;text-align:left}
.centerText{font-family: "宋体";text-decoration: none;color: #000000;text-align:center}
vh\:treeCheck
{
}

.style8{
  color: #047AC2;font: bold 14px 宋体; height:30px; line-height:30px; text-align:center
}

.x1 {
	font-weight: bold;
}

.x2 {
	border:1px solid #999;
	cellpadding:0;
	cellspacing:0;
	font-size:    14px;
	font-weight:  normal;
	margin:5px 1%;
	line-height:30px;
}
.a {
	border: 0px solid #000000;
}
.a1{
	font-size: 12px;
	font-weight: bold;
	color: #3766AC;
}

/*************************
 * SingleFlow
 *************************/
.SingleFlow{
}

 .graphButton   {
  background-image:expression("url("+window.rootPath+"base/themes/blue/images2/graphButton.png)");
  background-color:#ffffff;
  height:24px;
  width:26px;
  font-size:12px;
  border:0px   solid   #ffffff
  }


/*
 * 一维容器
 */
.additiveItemsCtn {
  font-family:  宋体;
	font-size:    14px;
	font-weight:  normal;
	width: 96%;
	margin:5px 1%;
	line-height:30px;
}
.tabCell{
	white-space: nowrap;/*border-top-color: #FFFFFF;border-left-color: #FFFFFF;border-right-color: #000000;border-bottom-color: #000000;border-width:1px;border-style:solid;*/
}
.tabCellTN{
	white-space: nowrap;/*border-top-color: #FFFFFF;border-left-color: #FFFFFF;border-right-color: #000000;border-bottom-color: #000000;border-width:1px;border-style:solid;
	border-top-color: #000000;*/
}
.tabCellTL{
	white-space: nowrap;/*border-top-color: #FFFFFF;border-left-color: #FFFFFF;border-right-color: #000000;border-bottom-color: #000000;border-width:1px;border-style:solid;*/
	position:relative;z-index:10;background-color:#FCB724;left:expression(this.parentNode.parentNode.parentNode.parentNode.scrollLeft);
	/*border-top-color: #000000;*/
}
.tabCellLN{
	white-space: nowrap;/*border-top-color: #FFFFFF;border-left-color: #FFFFFF;border-right-color: #000000;border-bottom-color: #000000;border-width:1px;border-style:solid;
	border-left-color: #000000;*/
}
.tabCellLT{
	white-space: nowrap;/*border-top-color: #FFFFFF;border-left-color: #FFFFFF;border-right-color: #000000;border-bottom-color: #000000;border-width:1px;border-style:solid;*/
	position:relative;z-index:20;background-color:#FCB724;top:expression(this.parentNode.parentNode.parentNode.parentNode.scrollTop);
	/*border-left-color: #000000;*/

}
.tabCellCN{
	white-space: nowrap;/*border-top-color: #FFFFFF;border-left-color: #FFFFFF;border-right-color: #000000;border-bottom-color: #000000;border-width:1px;border-style:solid;
	border-top-color: #000000;border-left-color: #000000;*/
}
.tabCellCL{
	white-space: nowrap;/*border-top-color: #FFFFFF;border-left-color: #FFFFFF;border-right-color: #000000;border-bottom-color: #000000;border-width:1px;border-style:solid;*/
	position:relative;z-index:10;background-color:#FCB724;left:expression(this.parentNode.parentNode.parentNode.parentNode.scrollLeft);
	/*border-top-color: #000000;border-left-color: #000000;*/

}
.tabCellCT{
	white-space: nowrap;/*border-top-color: #FFFFFF;border-left-color: #FFFFFF;border-right-color: #000000;border-bottom-color: #000000;border-width:1px;border-style:solid;*/
	position:relative;z-index:20;background-color:#FCB724;top:expression(this.parentNode.parentNode.parentNode.parentNode.scrollTop);
	/*border-top-color: #000000;border-left-color: #000000;*/

}
/*#result_td21{ border-left:1px solid #999;z-index: 99; position: relative;}*/
.listTable{
  border-collapse:collapse;
  font-family:"宋体";
  font-size:12px;
  width: 100%;
  line-height:24px;
  border-left:1px solid #999;
}
.listTable td{ line-height:24px; padding:0 2px; white-space:nowrap; /*position: relative;*/ border-top: solid 0px #999; border-bottom: solid 1px #999; border-left: solid 0px #999; border-right: solid 1px #999; }
.listTable th{ line-height:24px; padding:0 2px; white-space:nowrap; position: relative; z-index:20;
	top:expression(this.parentNode.parentNode.parentNode.parentNode.scrollTop);
    border-top: solid 1px #999; border-bottom: solid 1px #999; border-left: solid 0px #999; border-right: solid 1px #999; 	 }

/*2011.11.23修改*/
th.tabCellTT,th.tabCellNT{ border-top: solid 1px #999;}
.tabCellCC{
	white-space: nowrap;
	position:relative;z-index:99;
	left:expression(this.parentNode.parentNode.parentNode.parentNode.scrollLeft);
	top:expression(this.parentNode.parentNode.parentNode.parentNode.scrollTop);
    border-top: solid 0px #999; 
	border-bottom: solid 1px #999; 
	border-left: solid 0px #999; 
	border-right: solid 1px #999; 
}
.tabCellTC{
	white-space: nowrap;
	position:relative;z-index:99;
	left:expression(this.parentNode.parentNode.parentNode.parentNode.scrollLeft);
	top:expression(this.parentNode.parentNode.parentNode.parentNode.scrollTop);
    border-top: solid 0px #999; 
	border-bottom: solid 1px #999; 
	border-left: solid 0px #999; 
	border-right: solid 1px #999; 
}
.tabCellLC{
	white-space: nowrap;
	position:relative;z-index:99;
	left:expression(this.parentNode.parentNode.parentNode.parentNode.scrollLeft);
	top:expression(this.parentNode.parentNode.parentNode.parentNode.scrollTop);
    border-top: solid 0px #999; 
	border-bottom: solid 1px #999; 
	border-left: solid 0px #999; 
	border-right: solid 1px #999; 
}
.tabCellNC{
	white-space: nowrap;
	position:relative;z-index:99;
	left:expression(this.parentNode.parentNode.parentNode.parentNode.scrollLeft);
	top:expression(this.parentNode.parentNode.parentNode.parentNode.scrollTop);
    border-top: solid 0px #999; 
	border-bottom: solid 1px #999; 
	border-left: solid 0px #999; 
	border-right: solid 1px #999; 
}
.tabCellLL{
	white-space: nowrap;
	position:relative;z-index:10;
	left:expression(this.parentNode.parentNode.parentNode.parentNode.scrollLeft);
    border-top: solid 0px #999; 
	border-bottom: solid 1px #999; 
	border-left: solid 0px #999; 
	border-right: solid 1px #999;
}
.tabCellNL{
	white-space: nowrap;
	position:relative;z-index:10;
	left:expression(this.parentNode.parentNode.parentNode.parentNode.scrollLeft);
    border-top: solid 0px #999; 
	border-bottom: solid 1px #999; 
	border-left: solid 0px #999; 
	border-right: solid 1px #999;
}
th.tabCellNT{ border-top: solid 0px #999;}
th.tabCellLC,th.tabCellNC{ border-top: solid 0px #999;}
td.tabCellTT,td.tabCellNT,td.tabCellCC{    border-top: solid 1px #999; }
th.tabCellCC, th.tabCellTC,th.tabCellLC,th.tabCellNC{position:relative;z-index:99;}

vh\:plb{
	position:absolute;
	z-index:1;
	display:block;
	visibility:hidden;
	border:0px solid #666666;
}
/*
 * 二维容器 会计账簿使用  whq added on 2009-03-01
 */
.tableCtn_acctBook {
  font: normal 12px 宋体;
  width: 100%;
  margin:0;
}
.tableCtn_FacctBook {
  font: normal 12px 宋体;
  width: 100%;
  margin:0;
}
.tableCtn_FTreeBook {
  font: normal 12px 宋体;
  width: 100%;
  margin:0;
}
/**/
#editDiv{ margin-top:5px;}
#resultDiv{ margin-top:5px;}
#tableID{ margin-top:5px;}
#tableID1{margin-top:5px;}
#detail{margin-top:5px}
.neitable{ border-collapse:collapse;border:1px solid #999;}
.neitable td{ border:1px solid #999; line-height:25px;}
#tab1{ margin-top:5px;}
#dv1{ margin-top:5px;}
#tbl1,#tbl2,#tbl3{ margin:5px 0; line-height:24px; }
#tbl{ margin-top:5px;}
#tbl td{ padding:0 2px;}
.mainTable table{ border:0}
.mainTable table td{ border:0}

/*20180320新增样式*/
.searchBoxx{
	margin:15px 0 10px 30px;
}
.searchBoxx input{
	line-height:30px;
	padding:0 5px;
}
.searchBoxx botton{
	line-height:30px;
}
#txt{
	width:565px;
	height:38px;
	line-height:38px;
	padding:0 5px;
	border:0px;
	border-radius:5px;
	background-image: url(images2/img-search.png);
}
#btn{
	width:55px;
	height:38px;
	color:#fff;
	background-image: url(images2/img-query.png);
	border:0px;
	font-family:  "Microsoft YaHei";
}
.historyNav{
	float:left;
	font-size:14px;	
	
}
.oneClass{
	float:left;
}
.oneClass ul{
	float:left;
}
.menuBox{
	float:left;
}
.oneList{
	float:left;
}
.oneList .onetopic{
	background-color:#e6f0fa;
	color:#5992b3;
	height:30px;
	line-height:40px;
	text-align:center;
	padding:10 50px;
	border:1px solide #e6f0fa;
	border-radius:5px;
	font-weight:bold;
	font :15px;
}
.qjt-h3{
	margin-left:10px;
	
}
.twoClass{
	color:#333333;
	float:left;
	width:192px;
	line-height:30px;
	border-right:1px solid #1599d6;
	margin-left:10px;
}
.twoClass li{
	width:192px;
	float:left;
	height:30px;
}
.twoList a{
	color:#1599d6;
	line-height:30px;
	text-decoration:none;
}
.twoList a:hover{
	color:#ffa643;
}
.threeList{
	color:#333333;
} 
.threeList a{
	color:#1599d6;
	padding-left:23px;
	line-height:30px;
	text-decoration:none;

}
.threeList a:hover{
	color:#ffa643;
}
.fourList{
	color:#333333;
}
.fourList a{
	color:#1599d6;
	padding-left:37px;
	line-height:30px;

}
.fourList a:hover{
	color:#ffa643;
}
.fiveList{
	color:#ffa643;
}
.fiveList a{
	color:#1599d6;
	padding-left:37px;
	line-height:30px;
	text-decoration:none;

}
#modList{
	overflow-x:auto;
	overflow-y: hidden;
	width:100%;
	height:480px;
	padding-right:10px;
	font-family:"微软雅黑";
  	font-size:10px;
}
.newDIV{height:300px;}
.newUl{height: 280px;float: left;position: relative;}
.modList-li li{
	width:192px;
	float:left;
	height:20px;
}
.modList-li a{
	color:#1599d6;
	line-height:20px;
	text-decoration:none;
}