#tab1 td{
	border:1px solid #999; 
	height:24px; 
	line-height:24px;
	color:#000; 
	overflow:hidden
}
#tab3 td{
	border:1px solid #999; 
	height:24px; 
	line-height:24px;
	color:#000; 
	overflow:hidden
}
#tab4 td{
	border:1px solid #999; 
	height:24px; 
	line-height:24px;
	color:#000; 
	overflow:hidden
}
#tab5 td{
	border:1px solid #999; 
	height:24px; 
	line-height:24px;
	color:#000; 
	overflow:hidden
}

#funlist{
	width:100%; 
	background-color: #F6F6F6;
	border:1px;
}
#mainfundiv2{
	position:absolute;
	left:20px;
	top:20px;
}
#mainnorth2{
	margin:9;
	border:1 solid #999;
	left:20px;
	top:20px;
	overflow:auto;
	width:503px;height:300px;
}
#mainsouth{
	position:absolute;
	left:20px;
	top:320px;
}
#maineast{
	position:absolute;
	left:550px;
	top:20px;
}

#wizardwest{
	position:absolute;
	left:20px;
	top:20px;
	width: 300px;
	height: 300px;
}
#wizardeast{
	position:absolute;
	left:388px;
	top:20px;
	width: 300px;
	height: 300px;
}
#wizardsouth{
	position:absolute;
	left:50px;
	top:430px;
	width: 600px;
	height: 100px;
}
.wizardtab{
	position:absolute;
	left:20px;
	top:10px;
	width: 300px;
	height: 370px;
}
.wizardInnerTab{
	position:absolute;
	left:0px;
	top:10px;
	width: 320px;
	height: 370px;
	overflow: auto;
}