window{
	border:0px solid #7B9EBD;
}

body,table,input,textarea { 
	font-size:9pt;
	font-family:宋体;
	scrollbar-base-color:#cccccc;	
	scrollbar-arrow-color:#666666;
	scrollbar-face-color:#dddddd;
	scrollbar-shadow-color:#cccccc;
	scrollbar-darkshadow-color:#cccccc;
}

v\:* {	/* VML 图象 */
	behavior: url(#default#VML);
}

o\:* {	
	behavior: url(#default#VML);
}

vh\:cmm{
  behavior:url(htc/common.htc);
}

/*** UserReportDesigner(URD) ***
 *** 用户自定义报表 ***********
 UserReportDesigner CSS (Version:1.0)
 Begin of UserReportDesigner CSS ***/

vh\:urd_design {
	behavior: url(htc/URD_Design.htc);
	position: absolute;
	left:5;
	top:5;
	border:solid 1px #A7A7A7;
	display: block;
	z-index: 1;
}

vh\:urd_view {
	behavior: url(htc/URD_View.htc);
	position: absolute;
	left:5;
	top:5;
	border:solid 1px #A7A7A7;
	display: block;
	z-index: 1;
}

.HZHUserReportDesigner_Containers{
	position:absolute;
	left:0;
	top:0;
	border:solid 5px #dddddd;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	z-index:2;
}

.HZHUserReportDesigner_TitleContainers{
	position:absolute;
	left:0;
	top:0;
	height:23;
	background:#eeeeee;
	font-size:9pt;
	border-bottom:solid 1px #D9D9D9;
	z-index:3;
}

.HZHUserReportDesigner_CoordinateInfo{
	position:absolute;
	top:2;
	left:2;
	padding-left:3;
	padding-right:3;
	text-align:center;
	font-weight:bold;
	font-family:MS Sans Serif;
	color:red;
	border:solid 1px #cccccc;
	background:#eeeeee;
	height:18;
	width:100;
}

.HZHUserReportDesigner_InsertFunctionBtn{
	position:absolute;
	border:solid 1px #cccccc;
	background:#eeeeee;
	font-size:9pt;
	width:72;
	height:18;
	top:2;
	left:105;
}

.HZHUserReportDesigner_reportRowInput{
	position:absolute;
	background:#eeeeee;
	border:solid 1px #cccccc;
	font-size:9pt;
	color:green;
	width:30;
	height:18;
	top:2;
	right:260;
}

.HZHUserReportDesigner_reportRowLabel{
	position:absolute;
	border:solid 0px #999999;
	font-size:9pt;
	padding-left:1;
	padding-top:4;
	width:20;
	height:18;
	top:2;
	right:290;
}

.HZHUserReportDesigner_createTableBtn{
	position:absolute;
	border:solid 0px #cccccc;
	font-size:9pt;
	height:18;
	top:2;
	right:200;
}

.HZHUserReportDesigner_reportColInput{
	position:absolute;
	background:#eeeeee;
	border:solid 1px #cccccc;
	font-size:9pt;
	color:green;
	width:30;
	height:18;
	top:2;
	right:205;
}

.HZHUserReportDesigner_reportColLabel{
	position:absolute;
	border:solid 0px #999999;
	font-size:9pt;
	padding-left:1;
	padding-top:4;
	width:20;
	height:18;
	top:2;
	right:235;
}


.HZHUserReportDesigner_textAlignDesignLeftBtn{
	position:absolute;
	border:solid 1px #999999;
	background:#dddddd;
	font-size:9pt;
	width:23;
	height:18;
	padding-top:1;
	z-index:1;
	top:2;
	right:137;
}

.HZHUserReportDesigner_textAlignDesignCenterBtn{
	position:absolute;
	border:solid 1px #999999;
	background:#dddddd;
	font-size:9pt;
	width:23;
	height:18;
	padding-top:1;
	z-index:1;
	top:2;
	right:112;
}

.HZHUserReportDesigner_textAlignDesignRightBtn{
	position:absolute;
	border:solid 1px #999999;
	background:#eeeeee;
	font-size:9pt;
	width:23;
	height:18;
	padding-top:1;
	z-index:1;
	top:2;
	right:87;
}


.HZHUserReportDesigner_textAlignLeftBtn{
	position:absolute;
	border:solid 1px #999999;
	background:#dddddd;
	font-size:9pt;
	width:23;
	height:18;
	padding-top:1;
	z-index:1;
	top:2;
	right:52;
}

.HZHUserReportDesigner_textAlignCenterBtn{
	position:absolute;
	border:solid 1px #999999;
	background:#dddddd;
	font-size:9pt;
	width:23;
	height:18;
	padding-top:1;
	z-index:1;
	top:2;
	right:27;
}

.HZHUserReportDesigner_textAlignRightBtn{
	position:absolute;
	border:solid 1px #999999;
	background:#eeeeee;
	font-size:9pt;
	width:23;
	height:18;
	padding-top:1;
	z-index:1;
	top:2;
	right:2;
}

.HZHUserReportDesigner_UniteCellBtn{
	position:absolute;
	border:solid 1px #999999;
	background:#eeeeee;
	font-size:9pt;
	width:73;
	padding-top:1;
	height:18;
	top:2;
	right:2;
}

.HZHUserReportDesigner_EditWin{
	position:absolute;
	border:solid 1px #cccccc;
	font-size:9pt;
	padding-left:3;
	background:#eeeeee;
	height:18;
	top:2;
	left:180;
}

.HZHUserReportDesigner_TableContainers{
	position:absolute;
	top:22;
	overflow:hidden;
	background:#eeeeee;
	z-index:1;
}

.HZHUserReportDesigner_Space{
	position:absolute;
	border:solid 0px #cccccc;
	left:1;
	top:0;
	width:50;
	height:18;
}

.HZHUserReportDesigner_TableLeftIndex{
	position:absolute;
	background:#cccccc;
	overflow:hidden;
	left:1;
	top:19;	
	width:50;
}

.HZHUserReportDesigner_TableTopIndex{
	position:absolute;
	background:#cccccc;
	overflow:hidden;
	left:50;
	top:0;
	height:20;	
	z-index:-1;
}

.HZHUserReportDesigner_TableContent{
	position:absolute;
	border:solid 0px red;
	overflow:auto;	
	left:2;
	top:3;	
	z-index:-1;
}

.HZHUserReportDesigner_LeftRightHandle{
	position:absolute;
	background:black;
	font-size:1px;
	top:3;
	width:16;
	height:20;
	cursor:w-resize;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	visibility:hidden;
	z-index:1;
}

.HZHUserReportDesigner_TopBottomHandle{
	position:absolute;
	background:black;
	font-size:1px;
	left:0;
	width:60;
	height:16;
	cursor:s-resize;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	visibility:hidden;
	z-index:1;
}

.HZHUserReportDesigner_FocusInput{
	position:absolute;
	border:solid 3px black;
	color:red;
	font-weight:bolder;
	visibility:hidden;
	z-index:1;
}

.HZHUserReportDesigner_SplitLine{
	position:absolute;
	font-size:1pt;
	background:#dddddd;
	visibility:hidden;
	z-index:1;
}

.HZHUserReportDesigner_ColsSplitePanel{
	position:absolute;
	background:red;
	left:0;
	top:0;
	height:200;
	width:300;
	overflow:hidden;
	visibility:hidden;
	font-size:9pt;
	z-index:0;
}

.HZHUserReportDesigner_RowsSplitePanel{
	position:absolute;
	background:#eeeeee;
	left:2;
	top:3;
	width:59;
	overflow:hidden;
	border:solid 1px #cccccc;
	visibility:hidden;
	font-size:9pt;
	z-index:0;
}

.HZHUserReportDesigner_TableBottomScrollContainers{
	position:absolute;
	border:solid 1px #999999;
	background:#dddddd;
	visibility:hidden;
	left:1;
	height:18;
	z-index:1;
}

.HZHUserReportDesigner_TableLeftScrollBtn{
	position:absolute;
	border:solid 1px #999999;
	left:1;
	top:1;
	width:14;
	height:14;
	z-index:1;
}

.HZHUserReportDesigner_TableRightScrollBtn{
	position:absolute;
	border:solid 1px #999999;
	right:1;
	top:1;
	width:14;
	height:14;
	z-index:1;
}

.HZHUserReportDesigner_TableRightScrollContainers{
	position:absolute;
	border:solid 1px #999999;
	background:#dddddd;
	visibility:hidden;
	right:1;
	top:1;
	width:18;
	z-index:1;
}

.HZHUserReportDesigner_TableTopScrollBtn{
	position:absolute;
	border:solid 1px #999999;
	left:1;
	top:1;
	width:14;
	height:14;
	z-index:1;
}

.HZHUserReportDesigner_TableBottomScrollBtn{
	position:absolute;
	border:solid 1px #999999;
	left:1;
	top:200;
	width:14;
	height:14;
	z-index:1;
}

.HZHUserReportDesigner_TableFocusInputContextmenuContainers{
	position:absolute;
	background:#cccccc;
	border:outset 2px #eeeeee;
	width:140;
	visibility:hidden;
	z-index:1;
}

.HZHUserReportDesigner_TableContextmenuContainers{
	position:absolute;
	background:#cccccc;
	border:outset 2px #eeeeee;
	height:20;
	width:100;
	visibility:hidden;
	z-index:1;
}

.HZHUserReportDesigner_TableViewContextmenuContainers{
	position:absolute;
	background:#cccccc;
	border:outset 2px #eeeeee;
	height:20;
	width:200;
	visibility:hidden;
	z-index:1;
}

.HZHUserReportDesigner_TableFirstRowContextmenuContainers{
	position:absolute;
	background:#cccccc;
	border:outset 2px #eeeeee;
	height:20;
	width:120;
	visibility:hidden;
	z-index:1;
}

.HZHUserReportDesigner_TableCellContextSecContainers{
	position:absolute;
	visibility:hidden;
}

.HZHUserReportDesigner_TableBottomScroll{
	position:absolute;
	background:#cccccc;
	border:solid 1px #999999;
	font-size:1pt;
	left:16;
	top:1;
	width:200;
	height:14;
	z-index:1;
}

.HZHUserReportDesigner_TableRightScroll{
	position:absolute;
	background:#cccccc;
	border:solid 1px #999999;
	font-size:1pt;
	left:1;
	top:16;
	width:14;
	height:50;
	z-index:1;
}
