.BTN {
	BORDER-RIGHT: buttonface 1px solid; BORDER-TOP: buttonface 1px solid; BORDER-LEFT: buttonface 1px solid; WIDTH: 22px; BORDER-BOTTOM: buttonface 1px solid; POSITION: absolute; TOP: 1px; HEIGHT: 23px; BACKGROUND-COLOR: buttonface
}
.ICO {
	LEFT: -1px; POSITION: absolute; TOP: -1px
}
.SEP {
	BORDER-RIGHT: buttonhighlight 1px solid; FONT-SIZE: 0px; BORDER-LEFT: buttonshadow 1px solid; WIDTH: 1px; POSITION: absolute; TOP: 1px; HEIGHT: 22px
}
.GEN {
	FONT: 12px verdana,arial,sans-serif; POSITION: absolute; TOP: 2px; HEIGHT: 22px
}
.HDLDIV {
	BORDER-RIGHT: buttonshadow 1px solid; BORDER-TOP: buttonhighlight 1px solid; FONT-SIZE: 1px; BORDER-LEFT: buttonhighlight 1px solid; WIDTH: 3px; POSITION: absolute; TOP: 1px; HEIGHT: 22px; BACKGROUND-COLOR: buttonface
}
.BTN_OVERUP {
	BORDER-RIGHT: buttonshadow 1px solid; BORDER-TOP: buttonhighlight 1px solid; BORDER-LEFT: buttonhighlight 1px solid; WIDTH: 24px; BORDER-BOTTOM: buttonshadow 1px solid; POSITION: absolute; TOP: 1px; HEIGHT: 23px; BACKGROUND-COLOR: buttonface
}
.BTN_OVERDOWN {
	BORDER-RIGHT: buttonhighlight 1px solid; BORDER-TOP: buttonshadow 1px solid; BORDER-LEFT: buttonshadow 1px solid; WIDTH: 24px; BORDER-BOTTOM: buttonhighlight 1px solid; POSITION: absolute; TOP: 1px; HEIGHT: 23px; BACKGROUND-COLOR: buttonface
}
.BTN_DOWN {
	BORDER-RIGHT: buttonhighlight 1px solid; BORDER-TOP: buttonshadow 1px solid; BORDER-LEFT: buttonshadow 1px solid; WIDTH: 24px; BORDER-BOTTOM: buttonhighlight 1px solid; POSITION: absolute; TOP: 1px; HEIGHT: 23px; BACKGROUND-COLOR: gainsboro
}
.ICO_DOWN {
	LEFT: 0px; POSITION: absolute; TOP: 0px
}
.ICO_DOWNPRESS {
	LEFT: 1px; POSITION: absolute; TOP: 1px
}
BODY {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN-TOP: 0px; MARGIN-LEFT: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: buttonface
}
.tbContentElement {
	LEFT: 0px; WIDTH: 1px; POSITION: absolute; TOP: 0px; HEIGHT: 1px
}
.BAR {
	LEFT: 0px; POSITION: absolute; TOP: 0px; HEIGHT: 25px; BACKGROUND-COLOR: buttonface
}
.BAR2 {
	LEFT: 0px; POSITION: absolute; TOP: 420px; HEIGHT: 25px; BACKGROUND-COLOR: buttonface
}
