*{ margin:0px auto; padding:0;}

.info{font-family:"楷体_GB2312";	
font-weight:normal; font-size:14px; text-decoration:none; color: #333333;
text-align:center;	vertical-align:bottom;	background-image:url("img/info.png");width:100%;	height:100%;	border:0;	}
.1stMenu
{font-family:"楷体_GB2312";	font-weight:bold; 	font-size:11pt; 	text-decoration:none; 	color:#003399;
text-align:center;	width:150; height:23;	background-image:url("img/1stMenuBg.gif"); 	cursor:hand; }

.2ndMenuChose{font-family:"楷体_GB2312";	font-weight:normal; 	font-size:11pt; 	text-decoration:none; 	color:#FFFFFF;
text-align:center;	width:150; height:23;	background-image:url("img/2ndMenuBg.gif");	cursor:hand; }

.2ndMenuNoChose
{font-family:"楷体_GB2312";	font-weight:normal; 	font-size:11pt; 	text-decoration:none; 	color:#000066;
text-align:center;	width:150; height:23;	background-image:url("img/2ndMenuBg.gif");	cursor:hand; }

.2ndMenuBottom {width:150; height:20;	background-image:url("img/2ndMenuBottomBg.gif");}

.3rdMenuChoseBg {font-family:"楷体_GB2312";	font-weight:normal; 	font-size:11pt; 	text-decoration:none; 	color:#000066;
text-align:center; vertical-align:bottom;	width:91;	height:24;	cursor:hand;
background-image:url("img/3rdMenuChoseBg.gif");}

.3rdMenuNoChoseBg {font-family:"楷体_GB2312";	font-weight:normal; 	font-size:11pt; 	text-decoration:none; 	color:#000066;
text-align:center; vertical-align:bottom;	width:91;	height:24;	cursor:hand;
background-image:url("img/3rdMenuNoChoseBg.gif");}
.3rdMenuEndBg{width:100%; height:24;	background-image:url("img/3rdMenuEndBg.gif");}
.moduleTitle  {
	font-family: 宋体;
	font-size: 14px;
	font-weight: normal;
	color:darkblue;
	padding: 3px 0px 0px 10px;
	height: 26px;
  background-image:url("images/6.png");
  width: 875;
  display:none
}
/*依据base/themes/blue/vh.css的“标题头样式，左上角、深兰色“的.titleHeader*/
             

	
.rowWhite{font-family:"宋体"; font-size:12px; color:#000000; text-decoration:none; background:#FFFFFF; text-align:center; height:24px;}
.rowGray{font-family:"宋体"; font-size:12px; color:#000000; text-decoration:none; background:#F1F7FC; text-align:center; height:24px;}


.loginTextInput {width:400px; font-family:"宋体"; font-size:12pt; color:#FF0000; text-decoration:none; background:#99CDFF; border:none; text-align:center;}



.textareaBg{background:white}
.selectBg{
background:white;
}
.mouse {cursor:hand}


br, p {font-size:12px;}


vh\:vhFixTable[id=sortTable] {
	behavior:url(htc/table.htc);
}

.findVhTabCtn{
}

.tableSubDiv  {border:0px solid #FFFFFF;overflow:hidden;padding:0;top:0px;left:0px;background:white; position:absolute;}


.ipt_sec { /* Select Control(SEC) */
	position:absolute;
	z-index:3;
	border:1px solid #000000;
	font-size:9pt;
	background-color:#E8E8E8;
}

hzh\:QInput{ 
	display:block;
	border:1px solid red;
	font-size:9pt;
	
}

hzh\:dateController{ 
	position:absolute;
	z-index:3;
	font-size:9pt;
}

.hzh_select {
	width:200px; 
	position:absolute;
	z-index:2;
	font-size:9pt
	border:1px solid #7B9EBD;
	padding:1px;
	background-color:#EEEEEE;
}

.hzh_input { 
	width:200px; 
	height:21px;
	border: 1 solid #838383; 
	background:#eeeeef;
	padding-left:3px;
}

.hzh_div { 
	position:absolute;
	visibility:hidden;
}

body{
		SCROLLBAR-FACE-COLOR: #F2F2F2; SCROLLBAR-HIGHLIGHT-COLOR: #999999;SCROLLBAR-SHADOW-COLOR:#999999; SCROLLBAR-3DLIGHT-COLOR:#ffffff; SCROLLBAR-ARROW-COLOR:#999999; SCROLLBAR-TRACK-COLOR:#ffffff;SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
		border: inset 0px;
	margin: 0px;
	}
input {
		border: 0px solid #999999;
	}
button {
		border: 0px solid #666666;
		background-color: #FFFFFF;
	}
.commonButton{
		/*cursor:hand;
	line-height:  16px;
	border: 1px solid #2DA0F5;
	height:21;
	color: #FFFFFF;
	padding: 0px;
	margin: 0px;
	font-family: "宋体";
	font-size: 9pt;
	background-image:url(images2/button/bian.png);*/
		border:1px solid #0F71B0; background:url(../base/themes/default/skins/skins01/images/bu.gif) repeat-x; height:23px; line-height:21px;padding:0px 4px;color:#fff; cursor:pointer; font-size:12px; overflow:hidden; margin:5px 0; margin-left:2px; margin-right:2px;
	}
.commonSelect{
	}
.inDivSelect{
	}
.commonYearMonth{
	}
.commonCalendar{
  width:90px;
  height:18px;
  border: 1 solid #838383;
  background-image:url("");
  background-repeat:no-repeat;
  background-position:right;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
}
.commonInputStyle_dropdown {
  height:18px;
  border: 1 solid #838383;
  background:white;
  font-family:  宋体;
	font-size:    12px;
	font-weight:  normal;
	background-color:white;
  background-image:url("");
  background-repeat:no-repeat;
  background-position:right;
}
.select_list {
	position:absolute;
	z-index:10;
	border:1px solid #7B9EBD;
	height:100;
	overflow-x:auto;
	overflow-y:auto;
	background-color:#ffffff;
}
.tableBaseDiv {
	    overflow:scroll;padding:0;
		border-top: 0px solid #333333;
		border-right: 0px solid #CCCCCC;
		border-bottom: 0px solid #CCCCCC;
		border-left: 0px solid #333333;	
	}
.resultTable {
		border: 1px solid #000000;
		border-collapse:collapse;
		background:white;
	}
.resultTableTh{
		border: 1px solid #000000;
		border-collapse:collapse;
		color:#D96200;
	    font-size:12px;
	    font-weight: bold;
		text-decoration:none;
		background:#F8BE6F;
		text-align:center;
		vertical-align:bottom;
		padding:2;
		background-image:url("images2/image/3.png");
	}
.resultTableTdText{
		font-size:12px;
		border: 1px solid #000000;
		text-align: left;
	}
.resultTableTdNum{
		font-size:12px;
		border: 1px solid #000000;
		text-align: right;
	}
.menu_iframe{ /* 设置日期控件前至 */
		position:absolute; 
		visibility:inherit; 
		width:100%;
		height:100%;
		z-index:-1; 
		filter: Alpha(Opacity=0);
	}

.commonInput{
		
	}
v\:*   {   BEHAVIOR:   url(#default#VML)   }   
o\:*   {   BEHAVIOR:   url(#default#VML)   }   
.shape   {   BEHAVIOR:   url(#default#VML)   } 
.pageBtn{
		border:1px solid #0F71B0; background:url(../base/themes/default/skins/skins01/images/bu.gif) repeat-x; height:23px; line-height:21px;padding:0px 0px;color:#fff; cursor:pointer; font-size:12px; overflow:hidden; margin:5px 0; margin-left:2px; margin-right:2px;
	}
.tableBtn { 
 border:1px solid #0175B0;background:url(../base/themes/default/skins/skins01/images/btn.gif) repeat-x;height:23px; line-height:21px;padding:0px 2px;color:#fff; cursor:pointer; font-size:12px; margin:5px 0; overflow:hidden
}
.mainHead {
  background:url(../base/themes/default/skins/skins01/images/th_bg.gif) repeat; text-align:center;
	line-height:24px;	}
	
.simpleQuery td select.selectBg{ width:100px;height:18px;}
.simpleQuery td select.selectBgW{ width:180px;height:18px;}
.simpleQuery td select.YMTag_year{ width:90px;height:18px;}
.simpleQuery td select.YMTag_month{ width:60px;height:18px;}
.simpleQuery td input{ height:18px;
  border: 1px solid #999;
  }
