*{ margin:0px auto; padding:0;}
.columnLine {
	font-style: normal;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	list-style-position: outside;
	list-style-type: disc;
}

.tableTitle {font-family:"宋体"; font-size:14px;font-weight:bold; text-decoration:none; color:#0066cc; text-align:center; line-height:30px;}
.tablePrintTitle1 {font-family:"宋体"; font-size:30px;font-weight:bold; text-decoration:none; text-align:center; vertical-align:bottom;}
.tablePrintTitle2 {font-family:"宋体"; font-size:23px;font-weight:bold; text-decoration:none; text-align:center; vertical-align:bottom;}
.tablePrintTitle3 {font-family:"宋体"; font-size:11px;font-weight:bold; text-decoration:none; vertical-align:bottom;}

.complexTitle {font-family:"宋体"; font-size:14px;font-weight:bold; text-decoration:none; color:#0066cc; text-align:center; vertical-align:bottom;}
.resultTitle {font-family:"宋体"; font-size:10pt; text-decoration:none; color:#000000; background:#FF9A00; text-align:center; vertical-align:bottom;}

.1stMenuBg {font-size:15px;}
.1stchoseMenuText {font-family:"楷体_GB2312"; font-weight:bold; font-size:15px; text-decoration:none; color:#FFFFFF; text-align:center; vertical-align:bottom;}
.1stNoChoseMenuText {font-family:"楷体_GB2312"; font-weight:bold; font-size:15px; text-decoration:none; color:#000000; text-align:center; vertical-align:bottom;}
.2ndMenuBg {font-size:15px;}
.2ndchoseMenuText {font-family:"楷体_GB2312"; font-weight:bold; font-size:15px; text-decoration:none; color:#FFFFFF; text-align:center; vertical-align:bottom;}
.2ndNoChoseMenuText {font-family:"楷体_GB2312"; font-weight:bold; font-size:15px; text-decoration:none; color:#000000; text-align:center; vertical-align:bottom;}
.3rdchoseMenuText {font-family:"楷体_GB2312"; font-size:15px; text-decoration:none; color:#FFFFFF; text-align:left; vertical-align:bottom;}
.3rdNoChoseMenuText {font-family:"楷体_GB2312"; font-size:15px; text-decoration:none; color:#000000; text-align:left; vertical-align:bottom;}

.rowWhite .normalText { font-family: "宋体"; font-size: 12px; text-decoration: none; color: #000000; text-align:left;/*border:1px solid #999;*/}
.rowWhite .numberText { font-family: "宋体"; font-size: 10pt; text-decoration: none; color: #000000; text-align:right;word-break:break-all;/*border:1px solid #999;*/}
.rowGray .normalText { font-family: "宋体"; font-size: 12px; text-decoration: none; color: #000000; text-align:left;/*border:1px solid #999;*/}
.rowGray .numberText { font-family: "宋体"; font-size: 10pt; text-decoration: none; color: #000000; text-align:right;word-break:break-all;/*border:1px solid #999;*/}

.titleText { font-family: "宋体"; font-size: 10pt; text-decoration: none; color: #000000; text-align:center}
.normalText { font-family: "宋体"; font-size: 12px; text-decoration: none; color: #000000; text-align:left; white-space:nowrap;}
.signText { font-family: "宋体"; font-size: 12px; text-decoration: none; color: #000000; text-align:right}
.numberText { font-family: "宋体"; font-size: 10pt; text-decoration: none; color: #000000; text-align:right;word-break:break-all}
.errorText {  font-family: "宋体"; font-size: 11pt; text-decoration: none; color: #FF0000}
.successText {  font-family: "宋体"; font-size: 14px; font-weight:700; text-decoration: none; color: #3366FF}
.percentText{ font-family: "宋体"; font-size: 10pt; text-decoration: none; color: #000000; text-align:right;word-break:break-all}

.isRequiredText{font-family: "宋体"; font-size: 11pt; text-decoration: none; color: #FF9A00; text-align:left}

.pageText{font-family: "宋体"; font-size: 12px; text-decoration: none; color: #000000; text-align:right}
.pageNumberInput{  width:30px; height:18px; border: 1 solid #838383; background:white  }

.textInputA{  width:70px; height:18px; border: 1 solid #999; background:white; }
.textInputB{  width:100px; height:18px; border: 1 solid #999; background:white  }
.textInputB1{  width:150px; height:18px; border: 1 solid #999; background:white  }
.textInputC{  width:140px; height:18px; border: 1 solid #999; background:white  }
.textInputD{  width:300px; height:18px; border: 1 solid #999; background:white  }
.textInputE{ width:100%;  border: 1 solid #999; background:white;text-align:right;}
.textInputF{  width:70px; height:18px; border: 1 solid #999; background:white;text-align:right; }


.label {font-family:"宋体";  font-size:14px; height:22px; text-decoration:none; color:#000000; background:#F6D7AB; text-align:center; vertical-align:bottom;}
/*table.normalText{background:url(../base/themes/default/skins/skins01/images/search_bg.gif) repeat-x left bottom; width:100%; margin:0; padding:0; font-size:12px;}*/
.simpleQuery{background:url(../base/themes/default/skins/skins01/images/search_bg.gif) repeat-x left bottom; width:100%; margin:0; padding:0; font-size:12px; line-height:30px;}
.simpleQuery td{ line-height:30px;}
.biMonthComponent{ border:0; width:40%; text-align:left;}
.resultSetTable{ width:100%; border-collapse:collapse; font-size:12px; line-height:24px; margin:0; border-left:0px solid #999;}
.resultSetTable td{line-height:24px; padding:0 2px; white-space:nowrap;
	/*position: relative;*/
	border-top:0px solid #999;
	border-bottom:1px solid #999;
	border-left:0px solid #999;
	border-right:1px solid #999; }
.resultLabel{
  background:url(../base/themes/default/skins/skins01/images/th_bg.gif) repeat; text-align:center;height:24px;
  line-height:24px; white-space:nowrap;border-collapse:collapse; font-weight:500;
}
.resultLabel td{
	z-index: 6;   
	position: relative;   
	top: expression(parentNode.parentNode.parentNode.parentNode.scrollTop);  
	border-top:1px solid #999;
	border-bottom:1px solid #999;
	border-left:0px solid #999;
	border-right:1px solid #999;
}
/*2010.11.25*/
th.resultLabel{
	z-index: 6;   
	position: relative;   
	top: expression(parentNode.parentNode.parentNode.parentNode.scrollTop);  
	border-top:1px solid #999;
	border-bottom:1px solid #999;
	border-left:0px solid #999;
	border-right:1px solid #999;
}
td.resultLabel{
	z-index: 6;   
	position: relative;   
	top: expression(parentNode.parentNode.parentNode.parentNode.scrollTop);  
	border-top:1px solid #999;
	border-bottom:1px solid #999;
	border-left:0px solid #999;
	border-right:1px solid #999;
}

/*依据base/themes/blue/vh.css的“样式表中thead中文表头样式“的.mainHead*/

.pageBtn{
	border:0; background:#0079e1; border-radius:4px;  height:30px; line-height:30px; text-align:center;color:#fff; cursor:pointer; font-size:14px; overflow:hidden; margin:0 5px 5px 0; min-width:79px;behavior: url(ie-css3.htc);
	}
.tableBtn { 
 border:1px solid #0175B0;background:url(../base/themes/default/skins/skins01/images/btn.gif) repeat-x;height:23px; line-height:21px;padding:0px 2px;color:#fff; cursor:pointer; font-size:12px; margin:5px 0; overflow:hidden
}
.for_btn{ margin:5px 0;}
.simpleQuery td select.selectBg{ width:140px;height:18px;border: 1px solid #999;}
.simpleForm td select.selectBg{ width:140px;height:18px;border: 1px solid #999;}
.simpleForm td{ line-height:30px;}
td.resultLabelTT{ border-top:0px solid #999}